@inherits AdminCompontentBase
<div @ref="Ref">
    <PModal @bind-Value="_visible"
            Persistent
            Title="@T("AddExternalMember")"
            HideCancelAction
            Width="684"
            FormModel="_model"
            HideTitleDivider
            HideActionsDivider
            HeaderClass="mt-0 pb-0 h6 emphasis2--text pa-6"
            Class="px-6"
            ActionsClass="pa-6 pb-6"
            OnSave="HandleOk"
            OnCancel="HandleCancel">
        <ChildContent>
            <DefaultTextField Label="@T("User.DisplayName")" @bind-Value="_model.DisplayName"></DefaultTextField>
            <DefaultTextField Class="mt-6" Label="@T("PhoneNumber")" @bind-Value="_model.PhoneNumber"></DefaultTextField>
            <DefaultTextField Class="mt-6" Label="@T("Email")" @bind-Value="_model.Email"></DefaultTextField>
        </ChildContent>
        <SaveContent Context="save">
            <MButton OnClick="save.Click" Class="btn-form rounded-3 fuill-width" Color="primary" >@(T("Submit"))</MButton>
        </SaveContent>
    </PModal>
</div>
