@inherits AdminCompontentBase
<div @ref="Ref">
    <PModal @bind-Value="_visible"
            Persistent
            Title="@T("AddExternalMember")"
            HideCancelAction
            Width="398"
            FormModel="_model"
            HideTitleDivider
            HideActionsDivider
            HeaderClass="h6 emphasis2--text pa-6 pb-0"
            ActionsClass="pa-6 pt-0"
            OnSave="HandleOk"
            OnCancel="HandleCancel">
        <ChildContent>
            <DefaultTextField Label="@T("User.DisplayName")" @bind-Value="_model.DisplayName"></DefaultTextField>
            <DefaultTextField Class="mt-6" Label="@T("PhoneNumber")" @bind-Value="_model.PhoneNumber"></DefaultTextField>
            <DefaultTextField Class="mt-6" Label="@T("Email")" @bind-Value="_model.Email"></DefaultTextField>
        </ChildContent>
        <SaveContent>
            <MButton OnClick="async()=>await HandleOk() " Class="btn-form-full" Color="primary" >@(T("Submit"))</MButton>
        </SaveContent>
    </PModal>
</div>
