@inherits AdminCompontentBase

<MAutocomplete Value="Value"
               ValueChanged="HandleValueChanged"
               TValue="List<Guid>"
               TItem="SubjectDto"
               TItemValue="Guid"
               OnSearchInputUpdate=OnSearchChanged
               Items="SubjectSelect"
               Color="primary"
               Label="@T("Search")"
               ItemText="u=>TextView(u)"
               ItemValue="u=>u.SubjectId"
               Filter="(item,search,value) => true"
               Flat
               Dense
               Solo
               BackgroundColor="fill-lighten-1"
               HideDetails="@("auto")"
               Style="@($"width:340px;height:40px;{Style}")"
               Class="@($"{Class} rounded-2")"
               Multiple>
    <PrependInnerContent>
        <MIcon Size=16 Class="mr-2 default-lighten-1--text">mdi-magnify</MIcon>
    </PrependInnerContent>
    <ItemContent Context="data">
        <div class="d-flex" style="height:48px;">
            @if (data.Item.SubjectType != SubjectTypes.User)
            {
                <MIcon Size=30>mdi-account-group</MIcon>
            }
            else
            {
                @if (string.IsNullOrEmpty(data.Item.Avatar))
            {
                <EmptyAvatar Class="ma-auto" Size=30 Value="@(data.Item.Name??data.Item.DisplayName)" />
            }
            else
            {
                <MAvatar Size=30 Class="ma-auto">
                    <img src="@data.Item.Avatar" />
                </MAvatar>
            }
            }
            
            <div class="ma-auto ml-2">
                <div class="d-flex">
                    <span class="text-btn default-lighten-1--text">@(data.Item.SubjectType == SubjectTypes.User?data.Item.Name:T($"DisplayName.SubjectTypes.{data.Item.SubjectType}"))</span>
                    @if (string.IsNullOrEmpty(data.Item.Name) is false && string.IsNullOrEmpty(data.Item.PhoneNumber) is false)
                    {
                        <div class="my-auto mx-2" style="width: 0px;height: 8px;border: 1px solid #E2E7F4;"></div>
                    }
                    <span class="text-btn default-lighten-1--text">@data.Item.PhoneNumber</span>
                </div>
                <div class="d-flex">
                    <span class="text-overline" style="text-transform: none !important;">@data.Item.DisplayName</span>
                    @if (string.IsNullOrEmpty(data.Item.DisplayName) is false && string.IsNullOrEmpty(data.Item.Email) is false)
                    {
                        <div class="my-auto mx-2" style="width: 0px;height: 8px;border: 1px solid #E2E7F4;"></div>
                    }
                    <span class="text-overline" style="text-transform: none !important;">@data.Item.Email</span>
                </div>
            </div>
        </div>
    </ItemContent>
</MAutocomplete>