@inherits AdminCompontentBase

<MAutocomplete TItem="UserSelectModel"
               TValue="Guid?"
               TItemValue="Guid"
               Value="Value"
               ValueChanged=ValueChanged
               Items="Items"
               OnSearchInputUpdate="OnSearchChanged"
               HideDetails="@("auto")"
               Outlined
               Clearable
               HideNoData
               HideSelected
               ItemText="u=>TextView(u)"
               ItemValue="u=>u.Id"
               Label="@Label"
               Placeholder="@Placeholder"
               OnClearClick="OnClearClick"
               OnSelectedItemUpdate="OnSelectedItemUpdate">
    <PrependInnerContent>
        <MIcon Size=16 Class="mr-2 default-lighten-1--text">mdi-magnify</MIcon>
    </PrependInnerContent>
    <ItemContent Context="data">
        <div class="d-flex" style="height:48px;">
            @if (string.IsNullOrEmpty(data.Item.Avatar))
            {
                <EmptyAvatar Class="ma-auto" Size=30 Value="@(data.Item.Name)" />
            }
            else
            {
                <MAvatar Size=30 Class="ma-auto">
                    <img src="@data.Item.Avatar" />
                </MAvatar>
            }
            <div class="ma-auto ml-2">
                <div class="d-flex">
                    <span class="text-btn default-lighten-1--text">@data.Item.Name</span>
                    @if (string.IsNullOrEmpty(data.Item.Name) is false && string.IsNullOrEmpty(data.Item.PhoneNumber) is false)
                    {
                        <div class="my-auto mx-2" style="width: 0px;height: 8px;border: 1px solid #E2E7F4;"></div>
                    }
                    <span class="text-btn default-lighten-1--text">@data.Item.PhoneNumber</span>
                </div>
                <div class="d-flex">
                    <span class="text-overline" style="text-transform: none !important;">@data.Item.Account</span>
                    @if (string.IsNullOrEmpty(data.Item.Account) is false && string.IsNullOrEmpty(data.Item.Email) is false)
                    {
                        <div class="my-auto mx-2" style="width: 0px;height: 8px;border: 1px solid #E2E7F4;"></div>
                    }
                    <span class="text-overline" style="text-transform: none !important;">@data.Item.Email</span>
                </div>
            </div>
        </div>
    </ItemContent>
</MAutocomplete>