@inherits AdminCompontentBase

<MAutocomplete TItem="UserSelectModel"
               TValue="Guid?"
               TItemValue="Guid"
               Value="Value"
               ValueChanged=ValueChanged
               Items="Items"
               OnSearchInputUpdate="OnSearchChanged"
               HideDetails="@("auto")"
               Flat
               Dense
               Solo
               Clearable
               ItemText="u=>TextView(u)"
               ItemValue="u=>u.Id"
               Filter="(item,search,value) => true"
               Label="@Label"
               Class="@($"{Class} rounded-2")"
               Placeholder="@Placeholder"
               OnClearClick="OnClearClick"
               OnSelectedItemUpdate="OnSelectedItemUpdate">
    <ItemContent Context="data">
        <MListItem Class="pa-4 pl-0">
            <ItemContent>
                <MListItemAvatar Size=40 Class="ma-0" Color="primary">
                    @if (string.IsNullOrEmpty(data.Item.Avatar))
                    {
                        <EmptyAvatar Value="@(data.Item.Name)" />
                    }
                    else
                    {
                        <MImage Src="@data.Item.Avatar"></MImage>
                    }
                </MListItemAvatar>
                <MListItemContent Class="ml-2 pa-0">
                    <MListItemTitle>
                        <span class="btn emphasis2--text">@(data.Item.Name)</span>
                        <div class="d-inline-flex mx-2" style="height: 8px">
                            <MDivider Vertical />
                        </div>
                        <span class="overline regular2--text">@T("DisplayName.SubjectTypes.User")</span>
                    </MListItemTitle>
                    <MListItemSubtitle>
                        <span class="body2 regular2--text">@(data.Item.PhoneNumber)</span>
                        <div class="d-inline-flex mx-1" style="height: 8px">
                            <MDivider Vertical />
                        </div>
                        <span class="body2 regular2--text">@(data.Item.Email)</span>
                    </MListItemSubtitle>
                </MListItemContent>
            </ItemContent>
        </MListItem>
    </ItemContent>
</MAutocomplete>