@inherits AdminCompontentBase
<div @ref="Ref">
    <McModal Value="@_visible" ValueChanged="HandleVisibleChanged" Title="@T("Permission.EditMessageTemplate")">
        <ChildContent>
            <MForm Model="_model" EnableValidation @ref="_form" Class="full-height">
                <MRow>
                    <MCol Class="pt-0 mt-2">
                        <DefaultSelect Value="@_model.ChannelType"
                                       Items="@(GetEnumList<ChannelTypes>())"
                                       Label="@T("DisplayName.ChannelType")"
                                       ItemText="item => T(item.ToString())"
                                       ItemValue="item => item"
                                       Disabled>
                        </DefaultSelect>
                    </MCol>
                </MRow>
                <MRow Class="mt-6">
                    <MCol>
                        <DefaultSelect @bind-Value="_model.ChannelId"
                                       Items="@_channelItems"
                                       Label="@T("DisplayName.Channel")"
                                       ItemText="item => item.DisplayName"
                                       ItemValue="item => item.Id"
                                       TItem="ChannelDto"
                                       TItemValue="Guid"
                                       TValue="Guid"
                                       OnSelectedItemUpdate="HandleChannelChangeAsync">
                        </DefaultSelect>
                    </MCol>
                </MRow>
                <MRow Class="mt-6">
                    <MCol>
                        <DefaultTextField @bind-Value="_model.Sign"
                                          Label="@T("DisplayName.MessageTemplateSign")">
                        </DefaultTextField>
                    </MCol>
                </MRow>
                <MRow Class="mt-6">
                    <MCol>
                        <MAutocomplete Items="_templateItems" @bind-Value="_model.TemplateId"
                                       Label="@T("DisplayName.MessageTemplateTemplateId")"
                                       ItemText="@(x=>$"{x.TemplateName}({x.TemplateCode})")"
                                       ItemValue="x=>x.TemplateCode"
                                       Dense
                                       Outlined
                                       Clearable
                                       HideDetails="@("auto")"
                                       TItem="SmsTemplateDto"
                                       TItemValue="string"
                                       TValue="string"
                                       OnSelectedItemUpdate="HandleTemplateSelected">
                            <AppendOuterContent>
                                <MButton Outlined Class="btn small-btn btn-fill-line mt-n2" Color="fill" OnClick="SyncAsync">
                                    <span class="emphasis2--text">@T("SyncTemplate")</span>
                                </MButton>
                            </AppendOuterContent>
                        </MAutocomplete>
                    </MCol>
                </MRow>
                <MRow Class="mt-6">
                    <MCol>
                        <SmsTemplateInfo MessageTemplate="_model" />
                        <MInput @bind-Value="_model.Items" />
                    </MCol>
                </MRow>
                <MRow Class="mt-6">
                    <MCol>
                        <div class="d-flex align-center justify-start">
                            <span class="body2 regular--text mr-2">@T("Description.MessageTemplate.PerDayLimit.Tips") </span>
                            <div style="width:80px;">
                                <MTextField @bind-Value="_model.PerDayLimit"
                                            Type="number"
                                            Dense
                                            Outlined
                                            HideDetails="@("auto")"></MTextField>
                            </div>
                            <span class="body2 regular--text ml-2">@T("Unit.Bar") </span>
                        </div>
                    </MCol>
                </MRow>
            </MForm>
        </ChildContent>
        <ActionContent>
            <MIcon Size="24" Color="error" Class="align-self-center" OnClick="HandleDelAsync">mdi-delete</MIcon>
            <MSpacer></MSpacer>
            <MButton Color="primary" Class="btn-form" OnClick="HandleOkAsync">@T("Save")</MButton>
        </ActionContent>
    </McModal>
</div>
