@inherits AdminCompontentBase
<div @ref="Ref">
    <SheetDialog Value="@_visible" ValueChanged="HandleVisibleChanged" Title="@T("Permission.EditMessageTemplate")" ContentStyle="padding-right:228px;padding-left:228px;">
        <div>
            <MForm Class="pt-12 full-height" Model="_model" EnableValidation @ref="_form">
                <MRow>
                    <MCol Cols="3">
                        <MSelect Value="@_channelType"
                                 Items="@(GetEnumList<ChannelType>())"
                                 Label="@T("DisplayName.ChannelType")"
                                 ItemText="item => T(item.ToString())"
                                 ItemValue="item => item"
                                 Dense
                                 Outlined
                                 Disabled
                                 HideDetails="@("auto")">
                        </MSelect>
                    </MCol>
                    <MCol Cols="3">
                        <MSelect @bind-Value="_model.ChannelId"
                                 Items="@_channelItems"
                                 Label="@T("DisplayName.Channel")"
                                 ItemText="item => item.DisplayName"
                                 ItemValue="item => item.Id"
                                 Dense
                                 Outlined
                                 Disabled
                                 HideDetails="@("auto")"
                                 TItem="ChannelDto"
                                 TItemValue="Guid"
                                 TValue="Guid"
                                 OnSelectedItemUpdate="HandleChannelChangeAsync">
                        </MSelect>
                    </MCol>
                </MRow>
                <MRow>
                    <MCol Cols="3">
                        <MTextField @bind-Value="_model.Sign"
                                    Label="@T("DisplayName.MessageTemplateSign")"
                                    Dense
                                    Outlined
                                    Placeholder="@T("Description.MessageTemplate.Sign.Required")"
                                    HideDetails="@("auto")" />
                    </MCol>
                    <MCol Cols="3">
                        <MAutocomplete Items="_templateItems" @bind-Value="_model.TemplateId"
                                       Label="@T("DisplayName.MessageTemplateTemplateId")"
                                       ItemText="@(x=>$"{x.TemplateName}({x.TemplateCode})")"
                                       ItemValue="x=>x.TemplateCode"
                                       Dense
                                       Outlined
                                       HideDetails="@("auto")"
                                       TItem="SmsTemplateDto"
                                       TItemValue="string"
                                       TValue="string"
                                       OnSelectedItemUpdate="HandleTemplateSelected"></MAutocomplete>
                    </MCol>
                    <MCol Cols="2">
                        <MButton Rounded Outlined Color="indigo" Class="ml-6 medium-button px-6" OnClick="SynchroAsync">
                            <span>@T("SynchroTemplate")</span>
                        </MButton>
                    </MCol>
                </MRow>
                <MRow>
                    <MCol Cols="2">
                        <MSelect Value="@_model.TemplateType"
                                 Items="@(GetEnumList<SmsTemplateType>())"
                                 Label="@T("DisplayName.MessageTemplateTemplateType")"
                                 ItemText="@(item => T($"DisplayName.SmsTemplateType.{item.ToString()}"))"
                                 ItemValue="item => (int)item"
                                 Dense
                                 Outlined
                                 Readonly
                                 HideDetails="@("auto")">
                        </MSelect>
                    </MCol>
                </MRow>
                <MRow>
                    <MCol Cols="12">
                        <MTextField @bind-Value="_model.DisplayName" Label="@T("DisplayName.MessageTemplateDisplayName")" Dense
                                    Outlined
                                    Readonly
                                    Placeholder="@T("Description.MessageTemplate.TemplateId.Required")"
                                    HideDetails="@("auto")"></MTextField>
                    </MCol>
                </MRow>
                <MRow>
                    <MCol Cols="12">
                        <MTextarea @bind-Value="_model.Content"
                                   Label="@T("DisplayName.MessageTemplateContent")"
                                   Dense
                                   Outlined
                                   Placeholder="@T("Description.MessageTemplate.TemplateId.Required")"
                                   HideDetails="@("auto")">
                        </MTextarea>
                    </MCol>
                </MRow>
                <MRow>
                    <MCol Cols="12">
                        <div class="mt-3 d-flex align-center justify-start">
                            <span class="text-caption mr-2">@T("Description.MessageTemplate.DayLimit.Tips") </span>
                            <div style="width:100px;">
                                <MTextField @bind-Value="_model.DayLimit"
                                            Type="number"
                                            Dense
                                            Outlined
                                            HideDetails="@("auto")"></MTextField>
                            </div>
                            <span class="text-caption ml-2">@T("Unit.Bar") </span>
                        </div>
                    </MCol>
                </MRow>
            </MForm>
            <MessageTemplateItems @bind-Value="_model.Items" OnEditChanged="HandleTemplateItemChanged"></MessageTemplateItems>
            <MCardActions Class="d-flex align-center mb-6">
                <MButton Class="mr-6" Text Color="error" OnClick="HandleDelAsync">@T("Delete")</MButton>
                <MSpacer></MSpacer>
                <MButton Color="rounded-pill primary" Class="small-button" OnClick="async() => await HandleOkAsync()">@T("Save")</MButton>
            </MCardActions>
        </div>
    </SheetDialog>
</div>
