@inherits AdminCompontentBase
<div @ref="Ref">
    <McModal Value="@_visible" ValueChanged="HandleVisibleChanged" Title="@T("Permission.CreateMessageTemplate")" ContentStyle="height: 617px;">
        <ChildContent>
            <MForm Model="_model" EnableValidation @ref="_form" Class="full-height">
                <MRow>
                    <MCol Class="pt-0 mt-2">
                        <DefaultTextField @bind-Value="_model.Code"
                                          Label="@T("DisplayName.MessageTemplateCode")">
                        </DefaultTextField>
                    </MCol>
                </MRow>
                <MRow Class="mt-6">
                    <MCol>
                        <DefaultSelect Value="@_model.ChannelType"
                                       Items="@(GetEnumList<ChannelTypes>())"
                                       Label="@T("DisplayName.ChannelType")"
                                       ItemText="item => T(item.ToString())"
                                       ItemValue="item => item"
                                       Disabled
                                       TItem="ChannelTypes"
                                       TItemValue="ChannelTypes"
                                       TValue="ChannelTypes"
                                       ValueChanged="HandleSelectChannelTypeAsync">
                        </DefaultSelect>
                    </MCol>
                </MRow>
                <MRow Class="mt-6">
                    <MCol>
                        <DefaultSelect @bind-Value="_model.ChannelId"
                                       Items="@_channelItems"
                                       Label="@T("DisplayName.Channel")"
                                       ItemText="item => item.DisplayName"
                                       ItemValue="item => item.Id">
                        </DefaultSelect>
                    </MCol>
                </MRow>
                <MRow Class="mt-6">
                    <MCol>
                        <DefaultTextField @bind-Value="_model.Title"
                                          Label="@T("DisplayName.MessageTemplateTitle")">
                        </DefaultTextField>
                    </MCol>
                </MRow>
                <MRow Class="mt-6">
                    <MCol>
                        <DefaultMarkdown @bind-Html="_model.Content" @bind-Value="_model.Markdown"></DefaultMarkdown>
                        <MInput @bind-Value="_model.Content" />
                    </MCol>
                </MRow>
                <MRow Class="mt-6">
                    <MCol>
                        <DefaultTextField @bind-Value="_model.JumpUrl"
                                          Label="@T("DisplayName.MessageTemplateJumpUrl")">
                            <PrependContent>
                                <MCheckbox Class="mt-0" @bind-Value="_model.IsJump"></MCheckbox>
                            </PrependContent>
                        </DefaultTextField>
                    </MCol>
                </MRow>
                <MRow Class="mt-6">
                    <MCol>
                        <div class="d-flex align-center justify-start">
                            <span class="body2 regular--text mr-2">@T("Description.MessageTemplate.PerDayLimit.Tips") </span>
                            <div style="width:80px;">
                                <MTextField @bind-Value="_model.PerDayLimit"
                                            Type="number"
                                            Dense
                                            Outlined
                                            HideDetails="@("auto")"></MTextField>
                            </div>
                            <span class="body2 regular--text ml-2">@T("Unit.Bar") </span>
                        </div>
                    </MCol>
                </MRow>
            </MForm>
        </ChildContent>
        <ActionContent>
            <MSpacer></MSpacer>
            <MButton Color="primary" Class="btn-form" OnClick="async() => await Throttle(HandleOkAsync)">@T("Submit")</MButton>
        </ActionContent>
    </McModal>
</div>
