@inherits AdminCompontentBase
<MCard Class="full-height">
    <MCardTitle>
        <div class="d-flex full-width align-center" style="height: 40px !important;">
            <div class="d-flex button rounded-circle" @onclick="HandleOnBack">
                <MIcon Class="ma-auto" Color="neutral-lighten-1" Size=20>
                    mdi-arrow-left
                </MIcon>
            </div>
            <div class="ml-4" style="width: 0px;height:24px;border: 1px solid #E2E7F4;"></div>
            <MListItem>
                <MListItemAvatar Class="overflow-visible">
                    <EmptyAvatar Value="@_entity.Channel?.DisplayName" />
                </MListItemAvatar>

                <MListItemContent>
                    <MListItemTitle Class="font-18-medium neutral-text-emphasis">@_entity.Channel?.DisplayName</MListItemTitle>
                </MListItemContent>
            </MListItem>
            <MSpacer />

            <MIcon Class="mr-2" Color="neutral-lighten-1" Size=20 OnClick="HandleDelAsync">
                mdi-delete-outline
            </MIcon>
        </div>
    </MCardTitle>
    <MCardText Class="d-flex align-end flex-column" Style="height: calc(100% - 72px) !important">
        <div class="detail-box pt-4">
            <span class="font-18-medium neutral-text-emphasis-secondary">@_entity.Title</span>
            <div class="font-14 neutral-text-regular-secondary pt-2">
                <span>@_entity.SendTime.ToString(T("$DateTimeFormat"))</span>
            </div>
            <div class="content">
                @((MarkupString)_entity.Content)
            </div>
        </div>
        <div class="mt-auto">
            <span>
                <MIcon Class="hover-pointer" Disabled Size=24>mdi-chevron-left</MIcon>
            </span>
            <span>
                <MIcon Class="hover-pointer" Size=24>mdi-chevron-right</MIcon>
            </span>
        </div>
    </MCardText>
</MCard>