@inherits AdminCompontentBase
<MCard Class="full-height">
    <MCardTitle>
        <div class="d-flex full-width" style="height: 40px !important;">
            <MListItem>
                <MListItemAvatar Class="overflow-visible">
                    @if (_entities.Result.Any(x => !x.IsRead))
                    {
                        <MBadge Bordered Dot Color="pink" OffsetX="10" OffsetY="10">
                            <EmptyAvatar Value="@_channel?.DisplayName" />
                        </MBadge>
                    }
                    else
                    {
                        <EmptyAvatar Value="@_channel?.DisplayName" />
                    }
                </MListItemAvatar>
                <MListItemContent>
                    <MListItemTitle Class="font-18-medium neutral-text-emphasis">@(_channel!=null?_channel.DisplayName:T("DisplayName.AllWebsiteMessage"))</MListItemTitle>
                </MListItemContent>
            </MListItem>
            <MSpacer />
            <MTextField @bind-Value="_queryParam.Filter" Clearable Color="primary" Class="rounded-2 search" Placeholder="@T("Search")" HideDetails="@("auto")" Flat Dense Solo BackgroundColor="fill-lighten-1" OnKeyDown="SearchKeyDown" OnClearClick="HandleClearAsync">
                <PrependInnerContent>
                    <MIcon Size=16 Class="mr-2 neutral-lighten-1--text">mdi-magnify</MIcon>
                </PrependInnerContent>
            </MTextField>
            <MSelect Class="ml-6" @bind-Value="@_queryParam.FilterType"
                     Items="@(GetEnumList<WebsiteMessageFilterType>())"
                     Label="@T("DisplayName.WebsiteMessageFilterType")"
                     ItemText="@(item => T($"DisplayName.WebsiteMessageFilterType.{item.ToString()}"))"
                     ItemValue="item => item"
                     Dense
                     Outlined
                     Clearable
                     HideDetails="@("auto")"
                     TItem="WebsiteMessageFilterType"
                     TItemValue="WebsiteMessageFilterType"
                     TValue="WebsiteMessageFilterType?"
                     OnClearClick="RefreshAsync"
                     OnSelectedItemUpdate="RefreshAsync">
            </MSelect>

            <MMenu OffsetY>
                <ActivatorContent>
                    <div class="ml-6 d-flex button rounded-circle" @attributes="@context.Attrs">
                        <MIcon Class="ma-auto" Color="neutral-lighten-1" Size=20>
                            mdi-dots-horizontal
                        </MIcon>
                    </div>
                </ActivatorContent>

                <ChildContent>
                    <MList>
                        <MListItem Link OnClick="HandleMarkAllRead">
                            <MListItemContent>
                                <MListItemTitle>
                                    @T("DisplayName.WebsiteMessageAction.MarkAllRead")
                                </MListItemTitle>
                            </MListItemContent>
                        </MListItem>
                        <MListItem Link OnClick="HandleShowAll">
                            <MListItemContent>
                                <MListItemTitle>
                                    @T("DisplayName.WebsiteMessageAction.ShowAll")
                                </MListItemTitle>
                            </MListItemContent>
                        </MListItem>
                        <MListItem Link OnClick="HandleShowUnread">
                            <MListItemContent>
                                <MListItemTitle>
                                    @T("DisplayName.WebsiteMessageAction.ShowUnread")
                                </MListItemTitle>
                            </MListItemContent>
                        </MListItem>
                    </MList>
                </ChildContent>
            </MMenu>
        </div>
    </MCardTitle>
    <MCardText>
        <MList Subheader
               TwoLine>
            @foreach (var item in _entities.Result)
            {
                <MListItem Link OnClick="()=>HandleOnClick(item.Id)">
                    <MListItemContent>
                        <MListItemTitle Class="py-2 font-18-medium neutral-text-emphasis-secondary">@item.Title</MListItemTitle>

                        <MListItemSubtitle Class="font-14 neutral-text-regular-secondary text-truncate" Style="width:400px">
                            @if (!item.IsRead)
                            {
                                <MAvatar Color="red" Size="8" Class="mx-2">
                                </MAvatar>
                            }
                            @item.ZhaiYao
                        </MListItemSubtitle>
                    </MListItemContent>
                    <MListItemAction>
                        <MListItemActionText Class="font-12 neutral-text-regular-secondary">@item.SendTime.ToString(T("$DateTimeFormat"))</MListItemActionText>
                    </MListItemAction>
                </MListItem>
            }
        </MList>
        <Pagination Class="mt-5" @bind-Page="_queryParam.Page" @bind-PageSize="_queryParam.PageSize" Total="_entities.Total" OnChange="HandlePaginationChange" />
    </MCardText>
</MCard>