@inherits AdminCompontentBase
<div class="message-right">
    <MCard Class="full-height">
        <MCardTitle Class="pl-2 pt-6">
            <div class="d-flex full-width" style="height: 40px !important;">
                <MListItem>
                    <MListItemAvatar Class="overflow-visible">
                        @if (_entities.Result.Any(x => !x.IsRead))
                        {
                            <MBadge Bordered Dot Color="pink" OffsetX="10" OffsetY="10">
                                <EmptyAvatar Value="@_channel?.DisplayName" />
                            </MBadge>
                        }
                        else
                        {
                            <EmptyAvatar Value="@_channel?.DisplayName" />
                        }
                    </MListItemAvatar>
                    <MListItemContent>
                        <MListItemTitle Class="h7 emphasis--text">@(_channel!=null?_channel.DisplayName:T("DisplayName.AllWebsiteMessage"))</MListItemTitle>
                    </MListItemContent>
                </MListItem>
                <MSpacer />
                <DefaultSearch @bind-Value="_queryParam.Filter" Clearable Class="rounded-2 search" Placeholder="@T("Search")" Dense BackgroundColor="fill-background" Style="flex: none;width:300px" OnEnter="RefreshAsync" OnClearClick="HandleClearAsync" />
                <MSelect Class="ml-6 rounded-2 small" @bind-Value="@_queryParam.FilterType" Style="flex: none;width:136px"
                         Items="@(GetEnumList<WebsiteMessageFilterType>())"
                         Label="@T("DisplayName.WebsiteMessageFilterType")"
                         ItemText="@(item => T($"DisplayName.WebsiteMessageFilterType.{item.ToString()}"))"
                         ItemValue="item => item"
                         Dense
                         Outlined
                         HideDetails="@("auto")"
                         TItem="WebsiteMessageFilterType"
                         TItemValue="WebsiteMessageFilterType"
                         TValue="WebsiteMessageFilterType?"
                         OnSelectedItemUpdate="RefreshAsync">
                </MSelect>
                <MMenu OffsetY>
                    <ActivatorContent>
                        <div class="ml-6 d-flex button rounded-circle" @attributes="@context.Attrs">
                            <MIcon Class="ma-auto" Color="neutral-lighten-1" Size=20>
                                mdi-dots-horizontal
                            </MIcon>
                        </div>
                    </ActivatorContent>

                    <ChildContent>
                        <MList>
                            <MListItem Link OnClick="HandleMarkAllRead">
                                <MListItemContent>
                                    <MListItemTitle>
                                        @T("DisplayName.WebsiteMessageAction.MarkAllRead")
                                    </MListItemTitle>
                                </MListItemContent>
                            </MListItem>
                            <MListItem Link OnClick="HandleShowAll">
                                <MListItemContent>
                                    <MListItemTitle>
                                        @T("DisplayName.WebsiteMessageAction.ShowAll")
                                    </MListItemTitle>
                                </MListItemContent>
                            </MListItem>
                            <MListItem Link OnClick="HandleShowUnread">
                                <MListItemContent>
                                    <MListItemTitle>
                                        @T("DisplayName.WebsiteMessageAction.ShowUnread")
                                    </MListItemTitle>
                                </MListItemContent>
                            </MListItem>
                        </MList>
                    </ChildContent>
                </MMenu>
            </div>
        </MCardTitle>
        <MCardText Class="mt-6">
            <MList Subheader
                   TwoLine>
                @foreach (var item in _entities.Result)
                {
                    <MListItem Link OnClick="()=>HandleOnClick(item)">
                        <MListItemContent Class="pt-0">
                            <MListItemTitle Class="py-2 h7 emphasis2--text">@item.Title</MListItemTitle>

                            <MListItemSubtitle Class="body2 regular2--text text-truncate" Style="width:400px">
                                @if (!item.IsRead)
                                {
                                    <MAvatar Color="red" Size="8" Class="ml-2">
                                    </MAvatar>
                                }
                                @item.Abstract
                            </MListItemSubtitle>
                        </MListItemContent>
                        <MListItemAction Class="align-self-start">
                            <MListItemActionText Class="caption regular2--text">@item.SendTime.ToString(T("$DateTimeFormat"))</MListItemActionText>
                        </MListItemAction>
                    </MListItem>
                }
            </MList>
            <McPagination Class="mt-5" @bind-Page="_queryParam.Page" @bind-PageSize="_queryParam.PageSize" Total="_entities.Total" OnChange="HandlePaginationChange" />
        </MCardText>
    </MCard>
</div>
