@inherits AdminCompontentBase
<div @ref="Ref">
    <McModal Value="@_visible" ValueChanged="HandleVisibleChanged" Title="@T("Permission.EditChannel")" Width="770" Height="799">
        <MForm Model="_model" @ref="_form" EnableValidation Class="full-height">
            <div class="full-height flex-column">
                <div class="flex-height-auto flex-grow-1">
                    <MRow Class="mt-6">
                        <MCol>
                            <DefaultTextField @bind-Value="_model.DisplayName"
                                              Color="@_model.Color"
                                              Label="@T("DisplayName.ChannelDisplayName")">
                            </DefaultTextField>
                        </MCol>
                        <MCol>
                            <DefaultTextField @bind-Value="_model.Code"
                                              Label="@T("DisplayName.ChannelCode")">
                            </DefaultTextField>
                        </MCol>
                    </MRow>
                    <MRow Class="mt-6">
                        <MCol>
                            <DefaultSelect @bind-Value="@_model.Type"
                                     Items="@channelTypeItems"
                                     Label="@T("DisplayName.ChannelType")"
                                     Readonly
                                     ItemText="item => T(item.ToString())"
                                     ItemValue="item => item"
                                     Disabled>
                            </DefaultSelect>
                        </MCol>
                    </MRow>
                    <ChannelExtraProperties @ref="_channelExtraPropertiesRef" @bind-Value="_model.ExtraProperties" @bind-Type="_model.Type" />
                    <div class="flex-column justify-space-between mt-9" Style="height: 80px;">
                        <div class="subtitle3 regular--text">@T("DisplayName.Color.Lable")</div>
                        <ColorGroup @bind-Value="_model.Color" Colors='_colors'  />
                    </div>
                    <MRow Class="mt-6">
                        <MCol>
                            <MTextarea @bind-Value="_model.Description"
                                       Label="@T("DisplayName.ChannelDescription")"
                                       Outlined
                                       HideDetails="@("auto")">
                            </MTextarea>
                        </MCol>
                    </MRow>
                </div>
                <div Class="d-flex">
                    <MIcon Size="24" Color="error" OnClick="HandleDel">mdi-delete</MIcon>
                    <MSpacer></MSpacer>
                    <MButton Color="primary" Class="btn-form" OnClick="async() => await HandleOk()">@T("Save")</MButton>
                </div>
            </div>
        </MForm>
    </McModal>
</div>
