@inherits AdminCompontentBase
<div @ref="Ref">
    <McModal Value="@_visible" ValueChanged="HandleVisibleChanged" Title="@T("Permission.CreateChannel")" Width="770" Height="792">
        <ChildContent>
            <MForm Model="_model" @ref="_form" EnableValidation Context="form" Class="full-height">
                <MStepper Value="_step" Class="full-height" Style="box-shadow:none">
                    <MStepperItems Class="full-height">
                        <MStepperContent Step="1" Class="pa-0">
                            <MContainer Fluid Class="pt-6 px-1">
                                <div class="subtitle3 regular--text mb-8">@T("Description.Channel.Type.Required")</div>
                                <MRow Align="AlignTypes.Center" Justify="JustifyTypes.Center">
                                    <MCol Md="4">
                                        <MHover>
                                            <MCard @attributes="context.Attrs" Height="208" Width="208" Class="@($"d-flex flex-column justify-center align-center {context.Class} {(context.Hover ? "primary" : "fill-background")}")"
                                                   OnClick="()=> HandleSelectType(ChannelTypes.Sms)">
                                                @if (context.Hover)
                                                {
                                                    <MIcon Size=33 Color="#FFFFFF">mdi-cellphone</MIcon>
                                                    <div class="h6 pt-10" style="color:#FAFAFA">@T("Sms")</div>
                                                }
                                                else
                                                {
                                                    <MIcon Size=33 Color="#323D6F">mdi-cellphone</MIcon>
                                                    <div class="h6 pt-10 regular--text">@T("Sms")</div>
                                                }
                                            </MCard>
                                        </MHover>
                                    </MCol>
                                    <MCol Md="4">
                                        <MHover>
                                            <MCard @attributes="context.Attrs" Height="208" Width="208" Class="@($"d-flex flex-column justify-center align-center {context.Class} {(context.Hover ? "primary" : "fill-background")}")"
                                                   OnClick="()=>HandleSelectType(ChannelTypes.Email)">
                                                @if (context.Hover)
                                                {
                                                    <MIcon Size=33 Color="#FFFFFF">mdi-email-outline</MIcon>
                                                    <div class="h6 pt-10" style="color:#FAFAFA">@T("Email")</div>
                                                }
                                                else
                                                {
                                                    <MIcon Size=33 Color="#323D6F">mdi-email</MIcon>
                                                    <div class="h6 pt-10 regular--text">@T("Email")</div>
                                                }
                                            </MCard>
                                        </MHover>
                                    </MCol>
                                    <MCol Md="4">
                                        <MHover>
                                            <MCard @attributes="context.Attrs" Height="208" Width="208" Class="@($"d-flex flex-column justify-center align-center {context.Class} {(context.Hover ? "primary" : "fill-background")}")"
                                                   OnClick="()=>HandleSelectType(ChannelTypes.WebsiteMessage)">
                                                @if (context.Hover)
                                                {
                                                    <MIcon Size=33 Color="#FFFFFF">mdi-bell-outline</MIcon>
                                                    <div class="h6 pt-10" style="color:#FAFAFA">@T("WebsiteMessage")</div>
                                                }
                                                else
                                                {
                                                    <MIcon Size=33 Color="#323D6F">mdi-bell</MIcon>
                                                    <div class="h6 pt-10 regular--text">@T("WebsiteMessage")</div>
                                                }
                                            </MCard>
                                        </MHover>
                                    </MCol>
                                </MRow>
                            </MContainer>
                        </MStepperContent>
                        <MStepperContent Step="2" Class="pa-0 full-height">
                                    <MRow>
                                        <MCol>
                                            <DefaultTextField @bind-Value="_model.DisplayName"
                                                              Label="@T("DisplayName.ChannelDisplayName")">
                                            </DefaultTextField>
                                        </MCol>
                                        <MCol>
                                            <DefaultTextField @bind-Value="_model.Code"
                                                              Label="@T("DisplayName.ChannelCode")">
                                            </DefaultTextField>
                                        </MCol>
                                    </MRow>
                                    <ChannelExtraProperties @ref="_channelExtraPropertiesRef" @bind-Value="_model.ExtraProperties" @bind-Type="_model.Type" />
                                    <div class="flex-column justify-space-between mt-9" Style="height: 80px;">
                                        <div class="subtitle3 regular--text">@T("DisplayName.Color.Lable")</div>
                                        <ColorGroup @bind-Value="_model.Color" Colors='_colors' />
                                    </div>
                                    <MRow Class="mt-6">
                                        <MCol>
                                            <MTextarea @bind-Value="_model.Description"
                                                       Label="@T("DisplayName.ChannelDescription")"
                                                       Outlined
                                                       HideDetails="@("auto")">
                                            </MTextarea>
                                        </MCol>
                                    </MRow>
                        </MStepperContent>
                    </MStepperItems>
                </MStepper>
            </MForm>
        </ChildContent>
        <ActionContent>
            <MIcon Size="24" Color="emphasis2" OnClick="()=> _step-- ">mdi-keyboard-backspace</MIcon>
            <MSpacer></MSpacer>
            <MButton Color="primary" Class="btn-form" OnClick="HandleOkAsync">@T("Submit")</MButton>
        </ActionContent>
    </McModal>
</div>
