@inherits AdminCompontentBase
<div @ref="Ref">
    <SSimpleModal Value="@_visible" ValueChanged="HandleVisibleChanged" Title="@T("Permission.CreateChannel")" HeaderClass="mr-4" BodyStyle="height: 597px;" SaveText="@T("Submit")" OnDelete="()=> _step-- " OnCancel="HandleCancel" OnSave="async() => await Throttle(HandleOkAsync)">
        <ChildContent>
            <MForm Model="_model" @ref="_form" EnableValidation Context="form" Class="full-height">
                <MStepper Value="_step" Class="full-height" Style="box-shadow:none">
                    <MStepperItems Class="full-height">
                        <MStepperContent Step="1" Class="pa-0">
                            <MContainer Fluid Class="pt-6 px-1">
                                <div class="subtitle3 regular--text mb-8">@T("Description.Channel.Type.Required")</div>
                                <MRow Align="AlignTypes.Center" Justify="JustifyTypes.Center">
                                    <MCol Md="4">
                                        <MHover>
                                            <MCard @attributes="context.Attrs" Height="208" Width="208" Class="@($"d-flex flex-column justify-center align-center {context.Class} {((context.Hover||_model.Type==ChannelTypes.Sms) ? "primary" : "fill-background")}")"
                                                   OnClick="()=> HandleSelectType(ChannelTypes.Sms)">
                                                @if (context.Hover || _model.Type == ChannelTypes.Sms)
                                                {
                                                    <MIcon Size=33 Color="#FFFFFF">mdi-cellphone</MIcon>
                                                    <div class="h6 pt-10" style="color:#FAFAFA">@T("Sms")</div>
                                                }
                                                else
                                                {
                                                    <MIcon Size=33 Color="#323D6F">mdi-cellphone</MIcon>
                                                    <div class="h6 pt-10 regular--text">@T("Sms")</div>
                                                }
                                            </MCard>
                                        </MHover>
                                    </MCol>
                                    <MCol Md="4">
                                        <MHover>
                                            <MCard @attributes="context.Attrs" Height="208" Width="208" Class="@($"d-flex flex-column justify-center align-center {context.Class} {((context.Hover||_model.Type==ChannelTypes.Email) ? "primary" : "fill-background")}")"
                                                   OnClick="()=>HandleSelectType(ChannelTypes.Email)">
                                                @if (context.Hover || _model.Type == ChannelTypes.Email)
                                                {
                                                    <MIcon Size=33 Color="#FFFFFF">mdi-email-outline</MIcon>
                                                    <div class="h6 pt-10" style="color:#FAFAFA">@T("Email")</div>
                                                }
                                                else
                                                {
                                                    <MIcon Size=33 Color="#323D6F">mdi-email</MIcon>
                                                    <div class="h6 pt-10 regular--text">@T("Email")</div>
                                                }
                                            </MCard>
                                        </MHover>
                                    </MCol>
                                    <MCol Md="4">
                                        <MHover>
                                            <MCard @attributes="context.Attrs" Height="208" Width="208" Class="@($"d-flex flex-column justify-center align-center {context.Class} {((context.Hover||_model.Type==ChannelTypes.WebsiteMessage) ? "primary" : "fill-background")}")"
                                                   OnClick="()=>HandleSelectType(ChannelTypes.WebsiteMessage)">
                                                @if (context.Hover || _model.Type == ChannelTypes.WebsiteMessage)
                                                {
                                                    <MIcon Size=33 Color="#FFFFFF">mdi-bell-outline</MIcon>
                                                    <div class="h6 pt-10" style="color:#FAFAFA">@T("WebsiteMessage")</div>
                                                }
                                                else
                                                {
                                                    <MIcon Size=33 Color="#323D6F">mdi-bell</MIcon>
                                                    <div class="h6 pt-10 regular--text">@T("WebsiteMessage")</div>
                                                }
                                            </MCard>
                                        </MHover>
                                    </MCol>
                                </MRow>
                            </MContainer>
                        </MStepperContent>
                        <MStepperContent Step="2" Class="pa-0 full-height">
                            <MRow Class="row-box">
                                <MCol Md="6">
                                    <STextField @bind-Value="_model.DisplayName"
                                                Label="@T("DisplayName.ChannelDisplayName")">
                                    </STextField>
                                </MCol>
                                <MCol Md="6">
                                    <STextField @bind-Value="_model.Code"
                                                Label="@T("DisplayName.ChannelCode")">
                                    </STextField>
                                </MCol>
                            </MRow>
                            <ChannelExtraProperties @ref="_channelExtraPropertiesRef" @bind-Value="_model.ExtraProperties" @bind-Type="_model.Type" PasswordView />
                            <MRow Class="row-box">
                                <MCol>
                                    <div class="subtitle3 regular--text">@T("DisplayName.Color.Lable")</div>
                                </MCol>
                            </MRow>
                            <MRow Class="row-box">
                                <MCol>
                                    <ColorsGroup @bind-Value="_model.Color" Colors='_colors' />
                                </MCol>
                            </MRow>
                            <MRow Class="row-box">
                                <MCol>
                                    <MTextarea @bind-Value="_model.Description"
                                               Label="@T("DisplayName.ChannelDescription")"
                                               Outlined
                                               HideDetails="@("auto")">
                                    </MTextarea>
                                </MCol>
                            </MRow>
                        </MStepperContent>
                    </MStepperItems>
                </MStepper>
            </MForm>
        </ChildContent>
        <DeleteContent Context="delete">
            @if (_step == 2)
            {
                <MIcon Size="24" Color="emphasis2" OnClick="delete.Click">mdi-keyboard-backspace</MIcon>
            }
        </DeleteContent>
        <SaveContent Context="save">
            @if (_step == 2)
            {
                <MButton Color="primary" Class="btn-form" OnClick="save.Click">@T("Submit")</MButton>
            }
        </SaveContent>
    </SSimpleModal>
</div>
