@inherits AdminCompontentBase
<div @ref="Ref">
    <SheetDialog Value="@_visible" ValueChanged="HandleVisibleChanged" Title="@T("Permission:EditChannel")" ContentStyle="padding-right:228px;padding-left:228px;">
        <MForm Class="mt-6 full-height" Model="_model" @ref="_form" EnableValidation>
            <MRow Justify="@("center")">
                <MCol Cols="12" Sm="6" Md="3">
                    <MTextField Class="mx-auto" style="width:200px;" @bind-Value="_model.DisplayName" HideDetails="@("auto")" Placeholder="@T("DisplayName:ChannelDisplayName")"></MTextField>
                </MCol>
            </MRow>
            <MRow>
                <MCol Cols="6">
                    <MSelect @bind-Value="@_model.Type"
                             Items="@channelTypeItems"
                             Label="@T("DisplayName:ChannelType")"
                             Readonly
                             ItemText="item => item.ToString()"
                             ItemValue="item => item"
                             Dense
                             Outlined
                             Disabled
                             HideDetails="@("auto")">
                    </MSelect>
                </MCol>
                <MCol Cols="6">
                    <MTextField @bind-Value="_model.Code"
                                Label="@T("DisplayName:ChannelCode")"
                                Readonly
                                Dense
                                Outlined
                                Disabled
                                HideDetails="@("auto")" />
                </MCol>
            </MRow>
            <ChannelExtraProperties @ref="_channelExtraPropertiesRef" @bind-Value="_model.ExtraProperties" @bind-Type="_model.Type" />
            <MRow>
                <MCol Cols="12">
                    <MTextarea @bind-Value="_model.Description"
                               Label="@T("DisplayName:ChannelDescription")"
                               Dense
                               Outlined
                               HideDetails="@("auto")">
                    </MTextarea>
                </MCol>
            </MRow>
            <MCardActions Class="d-flex align-center mb-6">
                <MButton Class="mr-6" Text Color="error" OnClick="HandleDel">@T("Delete")</MButton>
                <MSpacer></MSpacer>
                <MButton Color="rounded-pill primary" Class="small-button" OnClick="async() => await HandleOk()">@T("Save")</MButton>
            </MCardActions>
        </MForm>
    </SheetDialog>
</div>
