@inherits AdminCompontentBase
<div @ref="Ref">
    <SheetDialog Value="@_visible" ValueChanged="HandleVisibleChanged" Title="@T("Permission.CreateChannel")">
        <MForm Model="_model" @ref="_form" EnableValidation>
            <MStepper Value="_step" Class="sheet-dialog">
                <MStepperItems>
                    <MStepperContent Step="1">
                        <div class="full-height flex-column">
                            <div class="d-flex flex-height-auto">
                                <div class="text-h6 pl-16">@T("SelectChannelType")</div>
                                <MRow Class="my-16">
                                    <MSpacer></MSpacer>
                                    <MCol Md="2" Class="full-height">
                                        <MCard Outlined Class="d-flex full-height justify-center align-center" Style="border-style: dashed;">
                                            <MButton Ripple=false Plain OnClick="()=> HandleSelectType(ChannelTypes.Sms)"><MIcon Left>mdi-plus</MIcon>@T("Sms")</MButton>
                                        </MCard>
                                    </MCol>
                                    <MCol Md="2" Offset="1" Class="full-height">
                                        <MCard Outlined Class="d-flex full-height justify-center align-center" Style="border-style: dashed;">
                                            <MButton Ripple=false Plain OnClick="()=>HandleSelectType(ChannelTypes.Email)"><MIcon Left>mdi-plus</MIcon>@T("Email")</MButton>
                                        </MCard>
                                    </MCol>
                                    <MCol Md="2" Offset="1" Class="full-height">
                                        <MCard Outlined Class="d-flex full-height justify-center align-center" Style="border-style: dashed;">
                                            <MButton Ripple=false Plain OnClick="()=>HandleSelectType(ChannelTypes.WebsiteMessage)"><MIcon Left>mdi-plus</MIcon>@T("WebsiteMessage")</MButton>
                                        </MCard>
                                    </MCol>
                                    <MSpacer></MSpacer>
                                </MRow>
                            </div>
                            <div class="d-flex">
                                <MSpacer></MSpacer>
                                <MButton Color="primary" Class="small-button" OnClick="HandleNextStepAsync">@T("NextStep")</MButton>
                            </div>
                        </div>
                    </MStepperContent>
                    <MStepperContent Step="2">
                        <div class="full-height flex-column">
                            <div class="flex-height-auto overflow-y">
                                <MRow Justify="@("center")">
                                    <MCol Cols="12" Sm="6" Md="3">
                                        <MTextField Class="mx-auto" style="width:200px;" @bind-Value="_model.DisplayName" HideDetails="@("auto")" Placeholder="@T("DisplayName.ChannelDisplayName")"></MTextField>
                                    </MCol>
                                </MRow>
                                <MRow>
                                    <MCol>
                                        <MSelect @bind-Value="@_model.Type"
                                                 Items="@channelTypeItems"
                                                 Label="@T("DisplayName.ChannelType")"
                                                 ItemText="item => T(item.ToString())"
                                                 ItemValue="item => item"
                                                 Dense
                                                 Outlined
                                                 Disabled
                                                 HideDetails="@("auto")">
                                        </MSelect>
                                    </MCol>
                                    <MCol>
                                        <MTextField @bind-Value="_model.Code"
                                                    Label="@T("DisplayName.ChannelCode")"
                                                    Dense
                                                    Outlined
                                                    HideDetails="@("auto")" />
                                    </MCol>
                                </MRow>
                                <MInput @bind-Value="_model.ExtraProperties" Height="20" />
                                <ChannelExtraProperties @ref="_channelExtraPropertiesRef" @bind-Value="_model.ExtraProperties" @bind-Type="_model.Type" />
                                <MRow>
                                    <MCol>
                                        <MTextarea @bind-Value="_model.Description"
                                                   Label="@T("DisplayName.ChannelDescription")"
                                                   Dense
                                                   Outlined
                                                   HideDetails="@("auto")">
                                        </MTextarea>
                                    </MCol>
                                </MRow>
                            </div>
                            <div class="d-flex mt-6">
                                <MSpacer></MSpacer>
                                <MButton Outlined Class="small-button" OnClick="()=> _step-- ">@T("PreviousStep")</MButton>
                                <MButton Color="primary" Class="small-button ml-6" OnClick="async() => await HandleOkAsync()">@T("Submit")</MButton>
                            </div>
                        </div>
                    </MStepperContent>
                </MStepperItems>
            </MStepper>
        </MForm>
    </SheetDialog>
</div>
