@inherits AdminCompontentBase
<div @ref="Ref">
    <SSimpleModal Value="@_visible" ValueChanged="HandleVisibleChanged" Title="@T("Permission.EditChannel")" BodyStyle="height: 597px;" SaveText="@T("Save")" OnCancel="HandleCancel" OnDelete="HandleDel" OnSave="async() => await Throttle(HandleOk)">
        <ChildContent>
            <MForm Model="_model" EnableValidation @ref="_form" Class="full-height">
                <MRow>
                    <MCol Class="pt-0 mt-2">
                        <STextField @bind-Value="_model.DisplayName"
                                          Label="@T("DisplayName.ChannelDisplayName")">
                        </STextField>
                    </MCol>
                    <MCol>
                        <STextField @bind-Value="_model.Code"
                                          Disabled
                                          Label="@T("DisplayName.ChannelCode")">
                        </STextField>
                    </MCol>
                </MRow>
                <MRow Class="mt-6">
                    <MCol>
                        <SSelect @bind-Value="@_model.Type"
                                       Items="@channelTypeItems"
                                       Label="@T("DisplayName.ChannelType")"
                                       Readonly
                                       ItemText="item => T(item.ToString())"
                                       ItemValue="item => item"
                                       Disabled>
                        </SSelect>
                    </MCol>
                </MRow>
                <ChannelExtraProperties @ref="_channelExtraPropertiesRef" @bind-Value="_model.ExtraProperties" @bind-Type="_model.Type" />
                <div class="flex-column justify-space-between mt-9" Style="height: 80px;">
                    <div class="subtitle3 regular--text">@T("DisplayName.Color.Lable")</div>
                    <ColorsGroup @bind-Value="_model.Color" Colors='_colors' />
                </div>
                <MRow Class="mt-6">
                    <MCol>
                        <MTextarea @bind-Value="_model.Description"
                                   Label="@T("DisplayName.ChannelDescription")"
                                   Outlined
                                   HideDetails="@("auto")">
                        </MTextarea>
                    </MCol>
                </MRow>
            </MForm>
        </ChildContent>
    </SSimpleModal>
</div>
