@inherits AdminCompontentBase
<div @ref="Ref">
    <McModal Value="@_visible" ValueChanged="HandleVisibleChanged" Title="@T("Permission.EditChannel")" Width="770" Height="792">
        <MForm Model="_model" @ref="_form" EnableValidation Class="full-height">
            <div class="full-height flex-column">
                <div class="flex-height-auto flex-grow-1">
                    <MRow>
                        <MCol>
                            <DefaultTextField @bind-Value="_model.DisplayName"
                                              Label="@T("DisplayName.ChannelDisplayName")">
                            </DefaultTextField>
                        </MCol>
                        <MCol>
                            <DefaultTextField @bind-Value="_model.Code"
                                              Label="@T("DisplayName.ChannelCode")">
                            </DefaultTextField>
                        </MCol>
                    </MRow>
                    <MRow>
                        <MCol>
                            <MSelect @bind-Value="@_model.Type"
                                     Items="@channelTypeItems"
                                     Label="@T("DisplayName.ChannelType")"
                                     Readonly
                                     ItemText="item => T(item.ToString())"
                                     ItemValue="item => item"
                                     Outlined
                                     Disabled
                                     HideDetails="@("auto")">
                            </MSelect>
                        </MCol>
                    </MRow>
                    <ChannelExtraProperties @ref="_channelExtraPropertiesRef" @bind-Value="_model.ExtraProperties" @bind-Type="_model.Type" />
                    <MRow>
                        <MCol Cols="12">
                            <MTextarea @bind-Value="_model.Description"
                                       Label="@T("DisplayName.ChannelDescription")"
                                       Outlined
                                       HideDetails="@("auto")">
                            </MTextarea>
                        </MCol>
                    </MRow>
                </div>
                <div Class="d-flex">
                    <MIcon Size="24" Color="error" OnClick="HandleDel">mdi-delete</MIcon>
                    <MSpacer></MSpacer>
                    <MButton Color="primary" Class="btn-form" OnClick="async() => await HandleOk()">@T("Save")</MButton>
                </div>
            </div>
        </MForm>
    </McModal>
</div>
