@inherits AdminCompontentBase
<MCard Class="d-flex flex-column px-2 rounded-xl" MinHeight=Height>
    <MCardTitle class="px-0 py-1">
        <MListItem>
            <MListItemTitle Class="overflow-visible">
                <ColorTag>@T(Channel.Type.ToString())</ColorTag>
            </MListItemTitle>
            <MListItemIcon Class="mr-n2">
                <MIcon Size=20 OnClick="HandleEditClick" Color="regular3">mdi-pencil</MIcon>
            </MListItemIcon>
        </MListItem>
    </MCardTitle>
    <MCardText class="flex-grow-1 px-0 d-flex flex-column justify-center align-center">
        <div class="h6 emphasis--text">@Channel.DisplayName</div>
        <div class="caption regular3--text">@Channel.Code</div>
    </MCardText>
    <div class="fill-hover caption px-2 py-1 regular2--text text-justify line-clamp-2 rounded-lg" style="height:44px">@Channel.Description</div>
    <MCardActions class="px-3 pb-3">
        <MSpacer />
        <span class="caption regular3--text">@Channel.ModifierName @Channel.ModificationTime.Humanize(culture:new CultureInfo(I18n.CurrentLanguage)) </span>
    </MCardActions>
</MCard>

@code {
    [Parameter]
    public EventCallback OnEditClick { get; set; }

    [Parameter]
    public int Height { get; set; } = 230;

    [EditorRequired]
    [Parameter]
    public ChannelDto Channel { get; set; } = null!;

    private async Task HandleEditClick()
    {
        if (OnEditClick.HasDelegate)
        {
            await OnEditClick.InvokeAsync();
        }
    }
}