@inherits AdminCompontentBase
<MCard Class="d-flex flex-column px-2 rounded-xl" MinHeight=Height>
    <MCardTitle class="px-0 py-1">
        <MListItem>
            <MListItemTitle Class="overflow-visible">
                <ColorTag>@T(Channel.Type.ToString())</ColorTag>
            </MListItemTitle>
            <MListItemIcon Class="mr-n2">
                <DefaultIcon OnClick="HandleEditClick" Color="regular3">mdi-pencil</DefaultIcon>
            </MListItemIcon>
        </MListItem>
    </MCardTitle>
    <MCardText class="flex-grow-1 px-0 d-flex flex-column justify-center align-center px-12 text-center">
        <div class="h6 emphasis--text text-truncate full-width">@Channel.DisplayName</div>
        <div class="caption regular3--text text-truncate full-width">@Channel.Code</div>
    </MCardText>
    <div style="height:42px;line-height:19px">
        @if (!string.IsNullOrEmpty(Channel.Description))
        {
            <div class="fill-hover caption px-2 py-1 regular2--text text-justify line-clamp-2 rounded-lg">@Channel.Description</div>
        }
    </div>
    <MCardActions class="px-3 pb-3">
        <MSpacer />
        <span class="caption regular3--text">@Channel.ModificationTime.Humanize(culture:I18n.Culture) </span>
        <span class="d-flex px-1" style="height: 8px">
            <MDivider Vertical />
        </span>
        <span class="caption regular2--text">@Channel.ModifierName</span>
    </MCardActions>
</MCard>

@code {
    [Parameter]
    public EventCallback OnEditClick { get; set; }

    [Parameter]
    public int Height { get; set; } = 230;

    [EditorRequired]
    [Parameter]
    public ChannelDto Channel { get; set; } = null!;

    private async Task HandleEditClick()
    {
        if (OnEditClick.HasDelegate)
        {
            await OnEditClick.InvokeAsync();
        }
    }
}