@using Masa.BuildingBlocks.BasicAbility.Auth
@inject GlobalConfig GlobalConfig
@inject NavigationManager NavigationManager
@inject IAuthClient AuthClient

<CascadingValue Value="this" IsFixed>
    <CascadingValue Value="I18n">
        <MApp Class="masa masa-stack-components">
            <MAppBar App
                     Class="mx-6"
                     Elevation="0"
                     Height="96">
                <GlobalNavigation OnFavoriteAdd="AddFavoriteMenu"
                                  OnFavoriteRemove="RemoveFavoriteMenu">
                    <ActivatorContent>
                        <MButton Icon Class="white mr-6 emphasis2--text" @attributes="@context.Attrs">
                            <MIcon>mdi-view-dashboard</MIcon>
                        </MButton>
                    </ActivatorContent>
                </GlobalNavigation>
                <SearchMenu />
                <MSpacer />
                <Favorites FlattenedNavs="FlattenedNavs" />
                <Languages OnChange="() => { }" />
                <MSheet class="d-flex align-center justify-space-between rounded-6 pa-1 mr-n3" Width="100">
                    <Notice />
                    <User UserCenterUrl="@UserCenterRoute" />
                </MSheet>
            </MAppBar>

            <Navigation Items="NavItems"
                        Logo="@Logo"
                        MiniLogo="@MiniLogo" />

            <MMain>
                <div class="@($"px-6 pb-6 max-width full-height {@Class}")" style="@Style">
                    <MErrorHandler ErrorContent=ErrorContent OnErrorHandleAsync=OnErrorAsync>
                        @ChildContent
                    </MErrorHandler>
                </div>
            </MMain>
        </MApp>
    </CascadingValue>
</CascadingValue>
