@inherits AdminCompontentBase
<div @ref="Ref">
    <PModal @bind-Value="_visible"
            Persistent
            Title="@T("AddExternalMember")"
            HideCancelAction
            Width="684"
            FormModel="_model"
            OnSave="HandleOk"
            OnCancel="HandleCancel">
        <ChildContent>
            <MTextField Class="my-4" Outlined Label="@T("User.DisplayName")" @bind-Value="_model.DisplayName"></MTextField>
            <MTextField Class="my-4" Outlined Label="@T("PhoneNumber")" @bind-Value="_model.PhoneNumber"></MTextField>
            <MTextField Class="my-4" Outlined Label="@T("Email")" @bind-Value="_model.Email"></MTextField>
        </ChildContent>
        <SaveContent Context="save">
            <MButton OnClick="save.Click" Width=100 Class="rounded-pill" Color="primary" Style="float:right;">@(T("Submit"))</MButton>
        </SaveContent>
    </PModal>
</div>
