@inherits AdminCompontentBase
<div @ref="Ref">
    <McModal Value="@_visible" ValueChanged="HandleVisibleChanged" Title="@T("View")" Height="800">
        <ChildContent>
            <MSimpleTable>
                <thead>
                    <tr>
                        <th class="text-left">
                            @T("PhoneNumber")
                        </th>
                        <th class="text-left">
                            @T("Email")
                        </th>
                        @if (Value.Count > 0)
                        {
                            foreach (var item in Value[0].Variables)
                            {
                                <th class="text-left">
                                    @item.Key
                                </th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in _items)
                    {
                        <tr>
                            <td>@item.PhoneNumber</td>
                            <td>@item.Email</td>
                            @foreach (var v in item.Variables)
                            {
                                <td>@v.Value</td>
                            }
                        </tr>
                    }
                </tbody>
            </MSimpleTable>
        </ChildContent>
        <ActionContent>
            <McPagination Class="full-width" @bind-Page="_queryParam.Page" @bind-PageSize="_queryParam.PageSize" Total="Value.Count" OnChange="HandlePaginationChange" />
        </ActionContent>
    </McModal>
</div>


@code {
    [Parameter]
    public List<MessageTaskReceiverDto> Value { get; set; } = new();

    private List<MessageTaskReceiverDto> _items { get; set; } = new();

    private bool _visible;
    private PaginatedOptionsDto _queryParam = new();

    private void HandleVisibleChanged(bool val)
    {
        if (!val) HandleCancel();
    }

    public async Task OpenModal()
    {
        _visible = true;
        await LoadData();
    }

    private void HandleCancel()
    {
        _visible = false;
        ResetForm();
    }

    private async Task HandlePaginationChange(PaginationEventArgs args)
    {
        _queryParam.Page = args.Page;
        _queryParam.PageSize = args.PageSize;
        await LoadData();
    }

    private async Task LoadData()
    {
        _items = Value.Skip((_queryParam.Page - 1) * _queryParam.PageSize).Take(_queryParam.PageSize <= 0 ? int.MaxValue : _queryParam.PageSize).ToList();
        await InvokeAsync(StateHasChanged);
    }

    private void ResetForm()
    {
        _queryParam = new();
    }
}
