@inherits AdminCompontentBase
<div @ref="Ref">
    <SheetDialog Value="@_visible" ValueChanged="HandleVisibleChanged" Title="@T("Permission.ViewMessageTask")">
        <div class="full-height flex-column">
            <div class="flex-height-auto overflow-y d-flex">
            
                    <div class="pa-12" style="width: 428px;">
                        <div class="subtitle2 emphasis2--text">@T("DisplayName.MessageTaskHistory")</div>
                        <DateRangePicker Class="btn-fill-line mt-6" @bind-StartTime="_queryParam.StartTime" @bind-EndTime="_queryParam.EndTime" OnChange="LoadData" />

                        <DefaultSelect @bind-Value="@_queryParam.Status"
                                       Items="@(GetEnumList<MessageTaskHistoryStatuses>())"
                                       Label="@T("DisplayName.MessageTaskHistoryStatus")"
                                       ItemText="@(item => T($"DisplayName.MessageTaskHistoryStatus.{item.ToString()}"))"
                                       ItemValue="item => item"
                                       Clearable
                                       Class="mt-6 justify-center"
                                       TItem="MessageTaskHistoryStatuses"
                                       TItemValue="MessageTaskHistoryStatuses"
                                       TValue="MessageTaskHistoryStatuses?"
                                       OnClearClick="Refresh"
                                       OnSelectedItemUpdate="Refresh">
                        </DefaultSelect>
                        <MTimeline Dense=false Class="mt-9" Style="margin-left: -66px;">
                            <MTimelineItem Color="fill" Small FillDot Right>
                                <OppositeContent>
                                    <span class="caption regular2--text mr-n5">待发送</span>
                                </OppositeContent>
                                <IconContent>
                                    <MIcon Size=20
                                    Dark
                                           Color="emphasis2">
                                        mdi-clock-outline
                                    </MIcon>
                                </IconContent>
                                <ChildContent>
                                    <div class="ml-n5">
                                        <div class="caption regular--text">SJ202204081408</div>
                                        <div class="overline regular3--text">2022年03月08日 14:10:00</div>
                                    </div>
                                </ChildContent>
                            </MTimelineItem>
                            <MTimelineItem Color="fill" Small FillDot Right>
                                <OppositeContent>
                                    <span class="caption regular2--text mr-n5">待发送</span>
                                </OppositeContent>
                                <IconContent>
                                    <MIcon Size=20
                                           Color="emphasis2">
                                        mdi-clock-outline
                                    </MIcon>
                                </IconContent>
                                <ChildContent>
                                    <div class="ml-n5">
                                        <div class="caption regular--text">SJ202204081408</div>
                                        <div class="overline regular3--text">2022年03月08日 14:10:00</div>
                                    </div>
                                </ChildContent>
                            </MTimelineItem>
                            <MTimelineItem Color="fill" Small FillDot Right>
                                <OppositeContent>
                                    <span class="caption regular2--text mr-n5">待发送</span>
                                </OppositeContent>
                                <IconContent>
                                    <MIcon Size=20
                                           Color="emphasis2">
                                        mdi-clock-outline
                                    </MIcon>
                                </IconContent>
                                <ChildContent>
                                    <div class="ml-n5">
                                        <div class="caption regular--text">SJ202204081408</div>
                                        <div class="overline regular3--text">2022年03月08日 14:10:00</div>
                                    </div>
                                </ChildContent>
                            </MTimelineItem>
                        </MTimeline>

                        @*<MSimpleTable Class="mt-2">
                            <tbody>
                                @foreach (var item in _historys.Result)
                                {
                                    <tr @key="item.Id" @onclick="()=>HandleItemSelect(item)" class="@(_historyInfo.Id==item.Id?"m-data-table__selected":string.Empty)">
                                        <td>
                                            <MChip Ripple="false">
                                                <span>@T($"DisplayName.MessageTaskHistoryStatus.{((MessageTaskHistoryStatuses)item.Status).ToString()}")</span>
                                            </MChip>
                                        </td>
                                        <td>
                                            <span class="text-body3">@item.TaskHistoryNo</span>
                                        </td>
                                        <td>
                                            <span class="text-body3">@T("DisplayName.MessageTaskSendTime"):@item.SendTime?.ToString(T("$DateTimeFormat"))</span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </MSimpleTable>*@
                        <McPagination Class="mt-5" @bind-Page="_queryParam.Page" @bind-PageSize="_queryParam.PageSize" Total="_historys.Total" OnChange="HandlePaginationChange" />
                    </div>
                    <MDivider Vertical Class="my-9"></MDivider>
                    <div style="padding:72px 114px">
                        @*<MRow Class="mx-2 mt-2">
                            <div class="text-subtitle2">@T("DisplayName.MessageInfoContent")</div>
                            <MSpacer></MSpacer>
                            @if (_info.Channel?.Type == ChannelTypes.WebsiteMessage && _historyInfo.Status != MessageTaskHistoryStatuses.Withdrawn)
                            {
                                <MButton Rounded Outlined Color="indigo" Class="ml-6 medium-button px-6" OnClick="WithdrawnHistoryAsync">
                                    <span>@T("Withdraw")</span>
                                </MButton>
                            }
                        </MRow>
                        @if (_info.EntityType == MessageEntityTypes.Ordinary)
                        {
                            <OrdinaryMessageInfo MessageInfoId="_info.EntityId" MessageTask="_info"></OrdinaryMessageInfo>
                        }
                        @if (_info.EntityType == MessageEntityTypes.Template)
                        {
                            <TemplateMessageInfo MessageTemplateId="_info.EntityId" MessageTask="_info"></TemplateMessageInfo>
                            <MessageVariables Class="mt-4" @bind-Value="_historyInfo.Variables" ReadOnly></MessageVariables>
                        }
                        <div class="my-2 text-subtitle2">@T("DisplayName.MessageTaskReceiver")</div>
                        <MSelect @bind-Value="@_historyInfo.ReceiverType"
                                 Items="@(GetEnumList<ReceiverTypes>())"
                                 Label="@T("DisplayName.ReceiverType")"
                                 ItemText="@(item => T($"DisplayName.ReceiverType.{item.ToString()}"))"
                                 ItemValue="item => item"
                                 Outlined
                                 Disabled
                                 HideDetails="@("auto")">
                        </MSelect>
                        <div class="my-2 text-subtitle2">@T("DisplayName.MessageTaskSendingRule")</div>

                        @if (!string.IsNullOrEmpty(_historyInfo.Sign))
                        {
                            <MRow Class="mt-4">
                                <MCol>
                                    <MTextField @bind-Value="_historyInfo.Sign"
                                            Label="@T("DisplayName.MessageTemplateSign")"
                                            Outlined
                                            Disabled
                                            HideDetails="@("auto")">
                                    </MTextField>
                                </MCol>
                            </MRow>
                        }
                        <MessageSendingRules ReadOnly Class="mt-2" @bind-Value="_historyInfo.SendRules" @bind-SendTime="_historyInfo.SendTime" />*@
                    </div>
               
            </div>
        </div>
    </SheetDialog>
</div>