@inherits AdminCompontentBase

<MRow Class="my-1">
    <MCol>
        <MFileInput TValue="IBrowserFile"
                    Dense
                    Outlined
                    Accept="text/csv"
                    Placeholder="@T("Description.MessageReceiversUpload.Placeholder")" OnChange="HandleFileChange"></MFileInput>
    </MCol>
    <MCol Align="AlignTypes.Center">
        <a class="text-decoration-none" @onclick="Download">@T("Description.MessageReceiversDownload.Tips")</a>
    </MCol>
</MRow>
<div class="pl-2">
    <p class="mb-0">@T("Explain")</p>
    <p>@T("Description.MessageReceiversUpload.Tips")</p>
</div>

@if (_importResult != null && _importResult.HasError)
{
    <MAlert Border="Borders.Right"
        ColoredBorder
        Type="AlertTypes.Error"
        Elevation="2">
        @_importResult.ErrorMsg
    </MAlert>
}
@if (Value != null && Value.Any())
{
    <MAlert Border="Borders.Top"
        ColoredBorder
        Type="AlertTypes.Info"
        Elevation="2">
        @(string.Format(T("Description.MessageReceiversImport.Tips"), Value.Count))
    </MAlert>
}


