@inherits AdminCompontentBase
<MRow Class="mt-6">
    <MCol>
        <MCheckbox Class="mt-0" @bind-Value="Value.IsCustom" Disabled="ReadOnly" Label="@T("DisplayName.SendingRule.IsCustom")"></MCheckbox>
    </MCol>
</MRow>
@if (Value.IsCustom)
{
    <MRow Class="mt-6">
        <MCol>
            <div class="d-flex align-center justify-start btn regular--text">
                <span>@T("DisplayName.SendingRule.CronExpression")</span>
                <div class="mx-2" style="width:120px">
                    <MTextField @bind-Value="Value.CronExpression"
                            Outlined
                            Dense
                            Disabled="ReadOnly"
                            HideDetails="@("auto")"
                            TValue="string"
                            AppendIcon="mdi-clock" OnAppendClick="OpenCronModal" OnChange="()=>GetNextRunTime()">
                    </MTextField>
                </div>
                <div class="d-inline-flex mx-6" style="height: 24px">
                    <MDivider Vertical />
                </div>
                <span>@T("DisplayName.SendingRule.SendingCount")</span>
                <div class="mx-2" style="width:120px">
                    <MTextField @bind-Value="Value.SendingCount"
                            Outlined
                            Dense
                            Disabled="ReadOnly"
                            HideDetails="@("auto")"
                            Type="number">
                    </MTextField>
                </div>
                <span>(@T("DisplayName.SendingRule.SendingCount.Tips"))</span>
            </div>
        </MCol>
    </MRow>
    @if (!string.IsNullOrEmpty(Value.CronExpression))
    {
        <MRow Class="mt-6">
            <MCol>
                <MTextarea @bind-Value="_nextRunTimeStr" Readonly Outlined Rows="11" Label="@T("$masaBlazor.cron.demo.nextTenRunTime")">
                </MTextarea>
            </MCol>
        </MRow>
    }
}

<SSimpleModal @bind-Value="@_cronVisible" Title="@T("CronExpression")" OnSave="SetCronExpression">
    <PCron @bind-Value="@(_tempCron)">
    </PCron>
</SSimpleModal>