@inherits AdminCompontentBase
<MRow Class="mx-1 my-2">
    <MButtonGroup Borderless @bind-Value="_type">
            <MButton Value="@("手动选择")">
                <span class="hidden-sm-and-down">手动选择</span>
            </MButton>
            <MButton Value="@("批量上传")">
                <span class="hidden-sm-and-down">批量上传</span>
            </MButton>
        </MButtonGroup>
</MRow>
<MRow Class="mx-1 py-2">
    <MAutocomplete @bind-Value="_userIds"
                   Items="_stateUserItems"
                   Color="primary"
                   Class="rounded-2 search"
                   Flat
                   Dense
                   Solo
                   BackgroundColor="fill-lighten-1"
                   Label="@T("Description.ReceiverGroup.SelectUser")"
                   ItemText="r=>r.DisplayName"
                   ItemValue="r=>r.Id"
                   Multiple>
        <PrependInnerContent>
            <MIcon Size=16 Class="mr-2 neutral-lighten-1--text">mdi-magnify</MIcon>
        </PrependInnerContent>
        <SelectionContent Context="data">
            <MChip Close
                   OnCloseClick="()=>Remove(data.Item)">
                <MAvatar Left>
                    @if (data.Item.Type != ReceiverGroupItemType.User)
                    {
                        <MIcon>mdi-account-group</MIcon>
                    }
                    else
                    {
                        <MImage Src="@data.Item.Avatar"></MImage>
                    }
                </MAvatar>
                @data.Item.DisplayName
            </MChip>
        </SelectionContent>
        <ItemContent Context="data">
            @if (data.Item.Type != ReceiverGroupItemType.User)
            {
                <MListItemAvatar>
                    <MIcon Large>mdi-account-group</MIcon>
                </MListItemAvatar>
                <MListItemContent>
                    <MListItemTitle>
                        @(data.Item.DisplayName)
                    </MListItemTitle>
                    <MListItemSubtitle>
                        @T(data.Item.Type.ToString())
                    </MListItemSubtitle>
                </MListItemContent>
            }
            else
            {
                <MListItemAvatar>
                    <MImage Src="@data.Item.Avatar"></MImage>
                </MListItemAvatar>
                <MListItemContent>
                    <MListItemTitle>
                        @(data.Item.DisplayName)
                    </MListItemTitle>
                    <MListItemSubtitle>
                        @(data.Item.PhoneNumber)|@(data.Item.Email)
                    </MListItemSubtitle>
                </MListItemContent>
            }
        </ItemContent>
    </MAutocomplete>
    <MButton Rounded Outlined Color="indigo" Class="ml-6 medium-button px-6" OnClick="AddAsync">
        <span>@T("Add")</span>
    </MButton>
    <MButton Color="primary" Class="ml-6 medium-button" OnClick="_createModal.OpenModalAsync">
        <MIcon Size=18>mdi-plus</MIcon>
        <span class="ml-2">@T("ExternalMember")</span>
    </MButton>
</MRow>
<MCard Class="mx-auto" Outlined Height="300">
    @if (Value.Count > 0)
    {
        <MList ThreeLine>
            <MRow>
                @foreach (var item in Value)
                {
                    <MCol Md="3">
                        <MHover>
                            <MListItem @attributes="context.Attrs" Class="@($"{context.Class} {(context.Hover ? "on-hover" : "")}")">
                                <MListItemAvatar>
                                    @if (item.Type != MessageTaskReceiverType.User)
                                    {
                                        <MIcon Large>mdi-account-group</MIcon>
                                    }
                                    else
                                    {
                                        if (string.IsNullOrEmpty(item.Avatar))
                                        {
                                            <MAvatar Color="primary" Size="56">
                                                <span class="white--text">@(string.IsNullOrEmpty(item.DisplayName)?"":item.DisplayName.Substring(0,1))</span>
                                            </MAvatar>
                                        }
                                        else
                                        {
                                            <MImage Src="@item.Avatar"></MImage>
                                        }
                                    }
                                </MListItemAvatar>
                                <MListItemContent>
                                    <MListItemTitle>@(item.DisplayName)</MListItemTitle>
                                    @if (item.Type == MessageTaskReceiverType.User)
                                    {
                                        <MListItemSubtitle>@(item.PhoneNumber)|@(item.Email)</MListItemSubtitle>
                                    }
                                </MListItemContent>
                                <MOverlay Absolute Opacity="0.2" Class="justify-end align-start"
                                  Value="@(context.Hover)">
                                    <MButton Icon OnClick="()=>RemoveValue(item)">
                                        <MIcon>mdi-close</MIcon>
                                    </MButton>
                                </MOverlay>
                            </MListItem>
                        </MHover>
                    </MCol>
                }
            </MRow>
        </MList>
    }
    else
    {
        <div class="d-flex align-center justify-center pa-4 text-h4" style="height:100%">
            @T("Description.ReceiverGroup.AddSelectMember")
        </div>
    }
</MCard>
<ExternalUserCreateModal @ref="_createModal" OnOk="HandleOk" />