@inherits AdminCompontentBase
<div @ref="Ref">
    <SheetDialog Value="@_visible" ValueChanged="HandleVisibleChanged" Title="@T("Permission.SendMessageTask")">
        <MForm Model="_model" @ref="_form" EnableValidation>
            <div class="sheet-dialog full-height flex-column">
                <div class="mt-6 flex-height-auto overflow-y">
                    <MRow>
                        <MCol>
                            @if (_info.EntityType == MessageEntityTypes.Ordinary)
                            {
                                <OrdinaryMessageInfo MessageInfoId="_info.EntityId" MessageTask="_info"></OrdinaryMessageInfo>
                            }
                            @if (_info.EntityType == MessageEntityTypes.Template)
                            {
                                <TemplateMessageInfo MessageTemplateId="_info.EntityId" MessageTask="_info"></TemplateMessageInfo>
                                <MessageVariables Class="mt-4" @bind-Value="_model.Variables"></MessageVariables>
                            }
                        </MCol>
                        <MCol>
                            <div class="text-subtitle2">@T("DisplayName.MessageTaskReceiver")</div>
                            <MRadioGroup @bind-Value="_model.ReceiverType"
                                         Row>
                                <MRadio Label="@T("DisplayName.ReceiverType.Assign")"
                                        Value="@ReceiverTypes.Assign">
                                </MRadio>
                                <MRadio Label="@T("DisplayName.ReceiverType.Broadcast")"
                                        Disabled="_info.Channel?.Type!=ChannelTypes.WebsiteMessage"
                                        Value="@ReceiverTypes.Broadcast">
                                </MRadio>
                            </MRadioGroup>
                            @if (_model.ReceiverType == ReceiverTypes.Assign)
                            {
                                <MInput @bind-Value="_model.Receivers" />
                                <MRow Class="mx-1 my-2">
                                    <ButtonGroup @bind-Value="_info.ReceiverSelectType" StyleType=StyleTypes.Slider TValue="MessageTaskReceiverSelectTypes"/>
                                </MRow>
                                @if (_info.ReceiverSelectType == MessageTaskReceiverSelectTypes.ManualSelection)
                                {
                                    <MessageReceiversSelect @bind-Value="_model.Receivers" Type="@_info.Channel?.Type" />
                                }
                                @if (_info.ReceiverSelectType == MessageTaskReceiverSelectTypes.BatchUpload)
                                {
                                    <MessageReceiversImport @bind-Value="_model.Receivers" />
                                }
                            }
                            <div class="mt-4 text-subtitle2">@T("DisplayName.MessageTaskSendingRule")</div>
                            <MInput @bind-Value="_model.SendRules" />
                            @if (_info.Channel != null && _info.Channel.Type == ChannelTypes.Sms)
                            {
                                <MRow Class="mt-4">
                                    <MCol>
                                        <MTextField @bind-Value="_model.Sign"
                                                Label="@T("DisplayName.MessageTemplateSign")"
                                                Dense
                                                Outlined
                                                HideDetails="@("auto")">
                                        </MTextField>
                                    </MCol>
                                </MRow>
                            }
                            <MessageSendingRules Class="mt-2" @bind-Value="_model.SendRules"/>
                        </MCol>
                    </MRow>
                </div>
                <div Class="d-flex mt-6">
                    <MSpacer></MSpacer>
                    <MButton Color="primary" Class="small-button" OnClick="async() => await HandleOkAsync()">@T("Send")</MButton>
                </div>
            </div>
        </MForm>
    </SheetDialog>
</div>