@inherits AdminCompontentBase
<MRow Class="mt-6">
    <MCol>
        <div class="d-flex align-center justify-start btn regular--text">
            <MCheckbox Class="mt-0" @bind-Value="Value.IsSendingInterval" Disabled="ReadOnly"></MCheckbox>
            <span class="ml-3">@T("Each")</span>
            <div class="mx-2" style="width:100px">
                <MTextField @bind-Value="Value.SendingInterval"
                            Outlined
                            Dense
                            Disabled="ReadOnly"
                            HideDetails="@("auto")"
                            Type="number">
                </MTextField>
            </div>
            <span>@T("Second")</span>
            <div class="d-inline-flex mx-6" style="height: 24px">
                <MDivider Vertical />
            </div>
            <span>@T("Send")</span>
            <div class="mx-2" style="width:100px">
                <MTextField @bind-Value="Value.SendingCount"
                            Outlined
                            Dense
                            Disabled="ReadOnly"
                            HideDetails="@("auto")"
                            Type="number">
                </MTextField>
            </div>
            <span>@T("Unit.Bar")</span>
        </div>
    </MCol>
</MRow>
<MRow Class="mt-6">
    <MCol>
        <div class="d-flex align-center justify-start btn regular--text">
            <MCheckbox Class="mt-0" @bind-Value="Value.IsTiming" Disabled="ReadOnly"></MCheckbox>
            <span class="ml-3">@T("DisplayName.SendingRule.IsTiming")</span>
            <MMenu @bind-Value="_datePickersShow"
                   CloseOnContentClick="false"
                   NudgeRight="40"
                   Transition="scale-transition"
                   OffsetY
                   MinWidth="@("auto")">
                <ActivatorContent>
                    <div class="mx-2" style="width:140px">
                        <MTextField @bind-Value="_sendingDate"
                                    PrependInnerIcon="mdi-calendar"
                                    Outlined
                                    Dense
                                    Disabled="ReadOnly"
                                    HideDetails="@("auto")"
                                    @attributes="context.Attrs"></MTextField>
                    </div>
                </ActivatorContent>
                <ChildContent>
                    <MDatePicker @bind-Value="_sendingDate"
                                 OnInput="HandleDatePickerInputAsync"></MDatePicker>
                </ChildContent>
            </MMenu>
            <div class="d-inline-flex mx-6" style="height: 24px">
                <MDivider Vertical />
            </div>
            <MMenu @bind-Value="_timePickersShow"
                   CloseOnContentClick="false"
                   NudgeRight="40"
                   Transition="scale-transition"
                   OffsetY
                   MaxWidth="290"
                   MinWidth="290">
                <ActivatorContent>
                    <div class="mx-2" style="width:100px">
                        <MTextField @bind-Value="_sendingTime"
                                    PrependInnerIcon="mdi-clock-time-four-outline"
                                    Outlined
                                    Disabled="ReadOnly"
                                    Dense
                                    HideDetails="@("auto")"
                                    @attributes="context.Attrs"></MTextField>
                    </div>
                </ActivatorContent>
                <ChildContent>
                    @if (_timePickersShow)
                    {
                        <MTimePicker @bind-Value="_sendingTime"
                                 OnChange="HandleTimePickerChangeAsync"
                                 FullWidth></MTimePicker>
                    }
                </ChildContent>
            </MMenu>
        </div>
    </MCol>
</MRow>

<p><MInput @bind-Value="Value.SendTime" /></p>