@inherits AdminCompontentBase
<div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" id="@Id" @ref="Ref" @attributes="Attributes">
    <div class="subtitle2 emphasis2--text">@T("DisplayName.VariableValueTransfer")</div>
    <MRow Class="mt-6">
        @foreach (var item in _items)
        {
            <MCol Md="6">
                <DefaultTextField @bind-Value="item.Value"
                        Label="@item.Name"
                        Disabled="ReadOnly"
                        Clearable="!ReadOnly"
                        TValue="string"
                        OnChange="HandleChangeAsync"></DefaultTextField>
            </MCol>
        }
    </MRow>
</div>