@inherits AdminCompontentBase
<MRow Class="mx-1 mt-2" Justify="JustifyTypes.Start">
    <MCol>
        <MTextField @bind-Value="Value.Timeout"
                    Outlined
                    Disabled="ReadOnly"
                    Height="18"
                    Type="number">
            <PrependContent>
                <span style="width:70px">@T("DisplayName.SendingRule.Timeout")</span>
            </PrependContent>
            <AppendOuterContent>
                @T("Second")
            </AppendOuterContent>
        </MTextField>
    </MCol>
    <MCol>
        <MTextField @bind-Value="Value.RetryInterval"
                    Outlined
                    Disabled="ReadOnly"
                    Type="number">
            <PrependContent>
                <span style="width:70px">@T("DisplayName.SendingRule.RetryInterval")</span>
            </PrependContent>
            <AppendOuterContent>
                @T("Second")
            </AppendOuterContent>
        </MTextField>
    </MCol>
    <MCol>
        <MTextField @bind-Value="Value.RetryCount"
                    Outlined
                    Disabled="ReadOnly"
                    Type="number">
            <PrependContent>
                <span style="width:70px">@T("DisplayName.SendingRule.RetryCount")</span>
            </PrependContent>
            <AppendOuterContent>
                @T("Second")
            </AppendOuterContent>
        </MTextField>
    </MCol>
</MRow>
<MRow Class="mx-1" Justify="JustifyTypes.Start">
    <MCheckbox @bind-Value="Value.IsSendingInterval" Disabled="ReadOnly"></MCheckbox>
    <span class="pt-4">@T("Each")</span>
    <MTextField @bind-Value="Value.SendingInterval"
                Outlined
                Disabled="ReadOnly"
                Class="mx-1"
                Type="number">
    </MTextField>
    <span class="pt-4">@T("Second")，@T("Send")</span>
    <MTextField @bind-Value="Value.SendingCount"
                Outlined
                Disabled="ReadOnly"
                Class="mx-1"
                Type="number">
    </MTextField>
    <span class="pt-4">@T("Unit.Bar")</span>
</MRow>
<MRow Class="mx-1" Justify="JustifyTypes.Start">
    <MCheckbox Class="mt-1" @bind-Value="_isTiming" Disabled="ReadOnly"></MCheckbox>
    <span class="pt-2">@T("DisplayName.SendingRule.IsTiming")</span>
    <MMenu @bind-Value="_datePickersShow"
           CloseOnContentClick="false"
           NudgeRight="40"
           Transition="scale-transition"
           OffsetY
           MinWidth="@("auto")">
        <ActivatorContent>
            <MTextField @bind-Value="sendingDate"
                        PrependInnerIcon="mdi-calendar"
                        Dense
                        Outlined
                        Disabled="ReadOnly"
                        Class="mx-1"
                        HideDetails="@("auto")"
                        @attributes="context.Attrs"></MTextField>
        </ActivatorContent>
        <ChildContent>
            <MDatePicker @bind-Value="sendingDate"
                         OnInput="HandleDatePickerInputAsync"></MDatePicker>
        </ChildContent>
    </MMenu>
    <MMenu @bind-Value="_timePickersShow"
           CloseOnContentClick="false"
           NudgeRight="40"
           Transition="scale-transition"
           OffsetY
           MaxWidth="290"
           MinWidth="290">
        <ActivatorContent>
            <MTextField @bind-Value="sendingTime"
                        PrependInnerIcon="mdi-clock-time-four-outline"
                        Dense
                        Outlined
                        Disabled="ReadOnly"
                        Class="mx-1"
                        HideDetails="@("auto")"
                        @attributes="context.Attrs"></MTextField>
        </ActivatorContent>
        <ChildContent>
            @if (_timePickersShow)
            {
                <MTimePicker @bind-Value="sendingTime"
                         OnChange="HandleTimePickerChangeAsync"
                         FullWidth></MTimePicker>
            }
        </ChildContent>
    </MMenu>
</MRow>