@inherits AdminCompontentBase
<MRow Class="mt-6">
    <MCol>
        <MCheckbox Class="mt-0" @bind-Value="Value.IsCustom" Disabled="ReadOnly" Label="@T("DisplayName.SendingRule.IsCustom")"></MCheckbox>
    </MCol>
</MRow>
@if (Value.IsCustom)
{
    <MRow Class="mt-6">
        <MCol>
            <div class="d-flex align-center justify-start btn regular--text">
                <span>@T("DisplayName.SendingRule.CronExpression")</span>
                <div class="mx-2" style="width:100px">
                    <MTextField @bind-Value="Value.CronExpression"
                            Outlined
                            Dense
                            Disabled="ReadOnly"
                            HideDetails="@("auto")">
                    </MTextField>
                </div>
                <div class="d-inline-flex mx-6" style="height: 24px">
                    <MDivider Vertical />
                </div>
                <span>@T("DisplayName.SendingRule.SendingCount")</span>
                <div class="mx-2" style="width:100px">
                    <MTextField @bind-Value="Value.SendingCount"
                            Outlined
                            Dense
                            Disabled="ReadOnly"
                            HideDetails="@("auto")"
                            Type="number">
                    </MTextField>
                </div>
                <span>(@T("DisplayName.SendingRule.SendingCount.Tips"))</span>
            </div>
        </MCol>
    </MRow>
}