@inherits AdminCompontentBase
<MRow Class="mx-1 my-2">
    <MButtonGroup Dense Mandatory Borderless @bind-Value="_pageTab" Class="rounded-lg elevation-tab">
        @foreach (var title in new List<string> { T("ManualSelection"), T("BatchUpload") })
        {
            <MButton Ripple=false Value="title" Class="rounded-lg" MinWidth=100>
                @T(title)
            </MButton>
        }
    </MButtonGroup>
</MRow>
@if (_pageTab == @T("ManualSelection"))
{
    <MessageReceiversSelect Type="@Type" OnAdd="HandleAddAsync" />
}
@if (_pageTab == @T("BatchUpload"))
{
    <MessageReceiversImport OnAdd="HandleAddAsync" />
}
<MCard Class="mx-auto overflow-y-auto" Outlined Height="300">
    @if (Value != null && Value.Count > 0)
    {
        <MList ThreeLine>
            <MRow>
                @foreach (var item in Value)
                {
                    <MCol Md="3">
                        <MHover>
                            <MListItem @attributes="context.Attrs" Class="@($"{context.Class} {(context.Hover ? "on-hover" : "")}")">
                                <MListItemAvatar>
                                    @if (item.Type != MessageTaskReceiverTypes.User)
                                    {
                                        <MIcon Large>mdi-account-group</MIcon>
                                    }
                                    else
                                    {
                                        if (string.IsNullOrEmpty(item.Avatar))
                                        {
                                            <MAvatar Color="primary" Size="56">
                                                <span class="white--text">@(string.IsNullOrEmpty(item.DisplayName)?"":item.DisplayName.Substring(0,1))</span>
                                            </MAvatar>
                                        }
                                        else
                                        {
                                            <MImage Src="@item.Avatar"></MImage>
                                        }
                                    }
                                </MListItemAvatar>
                                <MListItemContent>
                                    <MListItemTitle>@(item.DisplayName)</MListItemTitle>
                                    @if (item.Type == MessageTaskReceiverTypes.User)
                                    {
                                        if (Type == ChannelTypes.Email)
                                        {
                                            <MListItemSubtitle>@(item.Email)</MListItemSubtitle>
                                        }
                                        else
                                        {
                                            <MListItemSubtitle>@(item.PhoneNumber)</MListItemSubtitle>
                                        }
                                    }
                                </MListItemContent>
                                <MOverlay Absolute Opacity="0.2" Class="justify-end align-start"
                                  Value="@(context.Hover)">
                                    <MButton Icon OnClick="()=>RemoveValue(item)">
                                        <MIcon>mdi-close</MIcon>
                                    </MButton>
                                </MOverlay>
                            </MListItem>
                        </MHover>
                    </MCol>
                }
            </MRow>
        </MList>
    }
    else
    {
        <div class="d-flex align-center justify-center pa-4 text-h4" style="height:100%">
            @T("Description.ReceiverGroup.AddSelectMember")
        </div>
    }
</MCard>