@inherits AdminCompontentBase
<MRow Class="mx-1">
    <MessageTaskReceiverAutoComplete @ref="_subjectRef" @bind-Value="_userIds"></MessageTaskReceiverAutoComplete>
    <MButton Rounded Outlined Color="indigo" Class="ml-6 medium-button px-6" OnClick="AddAsync">
        <span>@T("Add")</span>
    </MButton>
    <MButton Color="primary" Class="ml-6 medium-button" OnClick="_createModal.OpenModalAsync">
        <MIcon Size=18>mdi-plus</MIcon>
        <span class="ml-2">@T("ExternalMember")</span>
    </MButton>
</MRow>
<MCard Class="mx-auto overflow-y-auto mt-6" Outlined Height="300">
    @if (Value != null && Value.Count > 0)
    {
        <MList ThreeLine>
            <MRow>
                @foreach (var item in Value)
                {
                    <MCol Md="3">
                        <MHover>
                            <MListItem @attributes="context.Attrs" Class="@($"{context.Class} {(context.Hover ? "on-hover" : "")}")">
                                <MListItemAvatar>
                                    @if (item.Type != MessageTaskReceiverTypes.User)
                                    {
                                        <MIcon Large>mdi-account-group</MIcon>
                                    }
                                    else
                                    {
                                        if (string.IsNullOrEmpty(item.Avatar))
                                        {
                                            <EmptyAvatar Value="@item.DisplayName" />
                                        }
                                        else
                                        {
                                            <MImage Src="@item.Avatar"></MImage>
                                        }
                                    }
                                </MListItemAvatar>
                                <MListItemContent>
                                    <MListItemTitle>@(item.DisplayName)</MListItemTitle>
                                    @if (item.Type == MessageTaskReceiverTypes.User)
                                    {
                                        if (Type == ChannelTypes.Email)
                                        {
                                            <MListItemSubtitle>@(item.Email)</MListItemSubtitle>
                                        }
                                        else
                                        {
                                            <MListItemSubtitle>@(item.PhoneNumber)</MListItemSubtitle>
                                        }
                                    }
                                </MListItemContent>
                                <MOverlay Absolute Opacity="0.2" Class="justify-end align-start"
                                  Value="@(context.Hover)">
                                    <MButton Icon OnClick="()=>RemoveValue(item)">
                                        <MIcon>mdi-close</MIcon>
                                    </MButton>
                                </MOverlay>
                            </MListItem>
                        </MHover>
                    </MCol>
                }
            </MRow>
        </MList>
    }
    else
    {
        <div class="d-flex align-center justify-center pa-4 text-h4" style="height:100%">
            @T("Description.ReceiverGroup.AddSelectMember")
        </div>
    }
</MCard>
<ExternalUserCreateModal @ref="_createModal" OnOk="HandleOk" />