@inherits AdminCompontentBase
<div @ref="Ref">
    <McModal Value="@_visible" ValueChanged="HandleVisibleChanged" Title="@T("Permission.EditOrdinaryMessage")" Height="850">
        <ChildContent>
            <MForm Model="_model" EnableValidation @ref="_form" Class="full-height">
                <ElevationTab @bind-Tab="_tab" TabMinWidth="227" Tabs='_tabs' Dense>
                    <ElevationTabItem>
                        <MRow Class="mt-6">
                            <MCol>
                                <DefaultSelect @bind-Value="@_model.ChannelType"
                                               Items="@(GetEnumList<ChannelTypes>().Where(x=>x!=ChannelTypes.Sms).ToList())"
                                               Label="@T("DisplayName.ChannelType")"
                                               ItemText="item => T(item.ToString())"
                                               ItemValue="item => item"
                                               TItem="ChannelTypes"
                                               TItemValue="ChannelTypes"
                                               TValue="ChannelTypes?"
                                               OnSelectedItemUpdate="HandleChannelTypeChangeAsync">
                                </DefaultSelect>
                            </MCol>
                        </MRow>
                        <MRow Class="mt-6">
                            <MCol>
                                <DefaultSelect @bind-Value="_model.ChannelId"
                                               Items="@_channelItems"
                                               Label="@T("DisplayName.Channel")"
                                               ItemText="item => item.DisplayName"
                                               ItemValue="item => item.Id">
                                </DefaultSelect>
                            </MCol>
                        </MRow>
                        @if (_model.ChannelType != ChannelTypes.Sms)
                        {
                            <MRow Class="mt-6">
                                <MCol>
                                    <DefaultTextField @bind-Value="_model.MessageInfo.Title"
                                                  Label="@T("DisplayName.MessageInfoTitle")">
                                    </DefaultTextField>
                                </MCol>
                            </MRow>
                        }
                        <MRow Class="mt-6">
                            <MCol>
                                <DefaultMarkdown @bind-Html="_model.MessageInfo.Content" @bind-Value="_model.MessageInfo.Markdown"></DefaultMarkdown>
                                <MInput @bind-Value="_model.MessageInfo.Content" />
                            </MCol>
                        </MRow>
                        @if (_model.ChannelType == ChannelTypes.WebsiteMessage)
                        {
                            <MRow Class="mt-6">
                                <MCol>
                                    <DefaultTextField @bind-Value="_model.MessageInfo.JumpUrl"
                                                  Label="@T("DisplayName.MessageTemplateJumpUrl")">
                                        <PrependContent>
                                            <MCheckbox Class="mt-0" @bind-Value="_model.MessageInfo.IsJump"></MCheckbox>
                                        </PrependContent>
                                    </DefaultTextField>
                                </MCol>
                            </MRow>
                        }
                        @if (_model.ChannelType == ChannelTypes.Sms)
                        {
                            <MRow Class="mt-6">
                                <MCol>
                                    <DefaultTextField @bind-Value="_model.Sign"
                                                  Label="@T("DisplayName.MessageTemplateSign")">
                                    </DefaultTextField>
                                </MCol>
                            </MRow>
                        }
                    </ElevationTabItem>
                    <ElevationTabItem>
                        @if (_model.ChannelType == ChannelTypes.WebsiteMessage && !_selectReceiverType)
                        {
                            <ReceiverTypeSelect @bind-value="_model.ReceiverType" OnClick="HandleReceiverType" />
                        }
                        else
                        {
                            <MInput @bind-Value="_model.Receivers" />
                            <MessageReceivers @bind-ReceiverType="_model.ReceiverType"
                                          @bind-SelectReceivers="_selectReceivers"
                                          @bind-ImportReceivers="_importReceivers"
                                          @bind-SelectReceiverType="_model.SelectReceiverType"
                                          ChannelType="_model.ChannelType" />
                        }
                    </ElevationTabItem>
                    <ElevationTabItem>
                        <MInput @bind-Value="_model.SendRules" />
                        <MessageSendingRules Class="mt-2" @bind-Value="_model.SendRules" />
                    </ElevationTabItem>
                </ElevationTab>
            </MForm>
        </ChildContent>
        <ActionContent>
            @if (_tab == _tabs[0])
            {
                <MSpacer></MSpacer>
                <MButton Color="fill" Class="btn-form btn-fill-line rounded-3 emphasis2--text" OnClick="async() => await HandleOkAsync(true)">@T("Save")</MButton>
                <MButton Color="primary" Class="btn-form ml-6" OnClick="()=> HandleNextStep(1)">@T("NextStep")</MButton>
            }
            @if (_tab == _tabs[1])
            {
                if (_model.ChannelType == ChannelTypes.WebsiteMessage && !_selectReceiverType)
                {
                    <MIcon Size="24" Color="emphasis2" OnClick="HandleReceiverBack">mdi-keyboard-backspace</MIcon>
                    <MSpacer></MSpacer>
                }
                else
                {
                    <MIcon Size="24" Color="emphasis2" OnClick="HandleReceiverBack">mdi-keyboard-backspace</MIcon>
                    <MSpacer></MSpacer>
                    <MButton Color="fill" Class="btn-form btn-fill-line rounded-3 emphasis2--text" OnClick="async() => await HandleOkAsync(true)">@T("Save")</MButton>
                    <MButton Color="primary" Class="btn-form ml-6" OnClick="()=> HandleNextStep(2)">@T("NextStep")</MButton>
                }
            }
            @if (_tab == _tabs[2])
            {
                <MIcon Size="24" Color="emphasis2" OnClick="HandleSendingRuleBack">mdi-keyboard-backspace</MIcon>
                <MSpacer></MSpacer>
                <MButton Color="fill" Class="btn-form btn-fill-line rounded-3 emphasis2--text" OnClick="async() => await HandleOkAsync(true)">@T("Save")</MButton>
                <MButton Color="primary" Class="btn-form ml-6" OnClick="async() => await HandleOkAsync(false)">@T("SaveSend")</MButton>
            }
        </ActionContent>
    </McModal>
</div>