@inherits AdminCompontentBase
<div @ref="Ref">
    <SheetDialog Value="@_visible" ValueChanged="HandleVisibleChanged" Title="@T("Permission.SendOrdinaryMessage")">
        <MForm Model="_model" @ref="_form" EnableValidation>
            <div class="sheet-dialog full-height flex-column">
                <div class="mt-6 flex-height-auto overflow-y">
                    <MRow>
                        <MCol>
                            <MRow>
                                <MCol>
                                    <MSelect @bind-Value="@_channelType"
                                             Items="@(GetEnumList<ChannelType>().Where(x=>x!=ChannelType.Sms).ToList())"
                                             Label="@T("DisplayName.ChannelType")"
                                             ItemText="item => T(item.ToString())"
                                             ItemValue="item => item"
                                             Dense
                                             Outlined
                                             HideDetails="@("auto")"
                                             TItem="ChannelType"
                                             TItemValue="ChannelType"
                                             TValue="ChannelType"
                                             OnSelectedItemUpdate="HandleChannelTypeChangeAsync">
                                    </MSelect>
                                </MCol>
                            </MRow>
                            <MRow>
                                <MCol>
                                    <MSelect @bind-Value="_model.ChannelId"
                                             Items="@_channelItems"
                                             Label="@T("DisplayName.Channel")"
                                             ItemText="item => item.DisplayName"
                                             ItemValue="item => item.Id"
                                             Dense
                                             Outlined
                                             HideDetails="@("auto")">
                                    </MSelect>
                                </MCol>
                            </MRow>
                            @if (_channelType != ChannelType.Sms)
                            {
                                <MRow>
                                    <MCol>
                                        <MTextField @bind-Value="_model.MessageInfo.Title"
                                                Label="@T("DisplayName.MessageTemplateTitle")"
                                                Dense
                                                Outlined
                                                HideDetails="@("auto")">
                                        </MTextField>
                                    </MCol>
                                </MRow>
                            }
                            <MRow>
                                <MCol>
                                    <MEditor @bind-Value="_model.MessageInfo.Content"
                                             ContentStyle="height:200px">
                                    </MEditor>
                                    <MInput @bind-Value="_model.MessageInfo.Content" />
                                </MCol>
                            </MRow>
                            @if (_channelType == ChannelType.WebsiteMessage)
                            {
                                <MRow>
                                    <MCol>
                                        <MTextField @bind-Value="_model.MessageInfo.JumpUrl"
                                                Label="@T("DisplayName.MessageTemplateJumpUrl")"
                                                Dense
                                                Outlined
                                                HideDetails="@("auto")">
                                        </MTextField>
                                    </MCol>
                                </MRow>
                            }
                            @if (_channelType == ChannelType.Sms)
                            {
                                <MRow>
                                    <MCol>
                                        <MTextField @bind-Value="_model.Sign"
                                                Label="@T("DisplayName.MessageTemplateSign")"
                                                Dense
                                                Outlined
                                                HideDetails="@("auto")">
                                        </MTextField>
                                    </MCol>
                                </MRow>
                            }
                        </MCol>
                        <MCol>
                            <div class="text-subtitle2">@T("DisplayName.MessageTaskReceiver")</div>
                            <MRadioGroup @bind-Value="_model.ReceiverType"
                                         Row>
                                <MRadio Label="@T("DisplayName.ReceiverType.Assign")"
                                        Value="@ReceiverType.Assign">
                                </MRadio>
                                <MRadio Label="@T("DisplayName.ReceiverType.Broadcast")"
                                        Disabled="_channelType!=ChannelType.WebsiteMessage"
                                        Value="@ReceiverType.Broadcast">
                                </MRadio>
                            </MRadioGroup>
                            @if (_model.ReceiverType == ReceiverType.Assign)
                            {
                                <MInput @bind-Value="_model.Receivers" />
                                <MessageReceivers Class="mt-2" @bind-Value="_model.Receivers.Items" Type="@_channelType" />
                            }
                            <div class="mt-4 text-subtitle2">@T("DisplayName.MessageTaskSendingRule")</div>
                            <MInput @bind-Value="_model.SendingRules" />
                            <MessageSendingRules Class="mt-2" @bind-Value="_model.SendingRules" @bind-SendTime="_model.SendTime" />
                        </MCol>
                    </MRow>
                </div>
                <div Class="d-flex mt-6">
                    <MButton Class="mr-6" Text Color="error">@T("Delete")</MButton>
                    <MSpacer></MSpacer>
                    <MButton Rounded Outlined Color="indigo" Class="ml-6 medium-button px-6" OnClick="async() => await HandleOkAsync(true)">
                        <span>@T("Save")</span>
                    </MButton>
                    <MButton Color="primary" Class="small-button ml-6" OnClick="async() => await HandleOkAsync(false)">@T("SaveSend")</MButton>
                </div>
            </div>
        </MForm>
    </SheetDialog>
</div>