@inherits AdminCompontentBase
<div @ref="Ref">
    <SheetDialog Value="@_visible" ValueChanged="HandleVisibleChanged" Title="@T("Permission.SendTemplateMessage")">
        <MForm Model="_model" @ref="_form" EnableValidation>
            <div class="sheet-dialog full-height flex-column">
                <div class="mt-6 flex-height-auto overflow-y">
                    <MRow>
                        <MCol>
                            <MRow>
                                <MCol>
                                    <MAutocomplete Items="_templateItems" @bind-Value="_model.EntityId"
                                                   Label="@T("DisplayName.MessageTemplateTemplateId")"
                                                   ItemText="@(x=>string.IsNullOrEmpty(x.TemplateId)?x.DisplayName:$"{x.DisplayName}({x.TemplateId})")"
                                                   ItemValue="x=>x.Id"
                                                   Dense
                                                   Outlined
                                                   HideDetails="@("auto")"
                                                   TItem="MessageTemplateDto"
                                                   TItemValue="Guid"
                                                   TValue="Guid"
                                                   OnSelectedItemUpdate="HandleTemplateSelectedAsync"></MAutocomplete>
                                </MCol>
                            </MRow>
                            @if (_model.EntityId != default)
                            {
                                <MRow>
                                    <MCol>
                                        <MSelect Value="@_messageInfo.Channel?.Type"
                                             Items="@(GetEnumList<ChannelTypes>())"
                                             Label="@T("DisplayName.ChannelType")"
                                             ItemText="item => T(item.ToString())"
                                             ItemValue="item => item"
                                             Dense
                                             Outlined
                                             Disabled
                                             HideDetails="@("auto")">
                                        </MSelect>
                                    </MCol>
                                </MRow>
                                <MRow>
                                    <MCol>
                                        <MSelect @bind-Value="_messageInfo.ChannelId"
                                             Items="@_channelItems"
                                             Label="@T("DisplayName.Channel")"
                                             ItemText="item => item.DisplayName"
                                             ItemValue="item => item.Id"
                                             Dense
                                             Outlined
                                             Disabled
                                             HideDetails="@("auto")">
                                        </MSelect>
                                    </MCol>
                                </MRow>
                                if (_messageInfo.Channel != null && _messageInfo.Channel.Type != ChannelTypes.Sms)
                                {
                                    <MRow>
                                        <MCol>
                                            <MTextField @bind-Value="_messageInfo.Title"
                                                Label="@T("DisplayName.MessageTemplateTitle")"
                                                Dense
                                                Outlined
                                                Disabled
                                                HideDetails="@("auto")">
                                            </MTextField>
                                        </MCol>
                                    </MRow>
                                }
                                <MRow>
                                    <MCol>
                                        <MEditor @bind-Value="_messageInfo.Content"
                                             ContentStyle="height:200px"
                                             ReadOnly>
                                        </MEditor>
                                    </MCol>
                                </MRow>
                                if (_messageInfo.Channel != null && _messageInfo.Channel.Type == ChannelTypes.WebsiteMessage)
                                {
                                    <MRow Class="mx-1 mt-6">
                                        <MCheckbox Class="mt-1 mr-2" Disabled @bind-Value="_messageInfo.IsJump" Label="@T("DisplayName.MessageTemplateIsJump")"></MCheckbox>
                                        <MTextField @bind-Value="_messageInfo.JumpUrl"
                                            Label="@T("DisplayName.MessageTemplateJumpUrl")"
                                            Dense
                                            Outlined
                                            Disabled
                                            HideDetails="@("auto")">
                                        </MTextField>
                                    </MRow>
                                }
                                <MessageVariables Class="mt-4" @bind-Value="_model.Variables"></MessageVariables>
                            }
                        </MCol>
                        <MCol>
                            <MInput @bind-Value="_model.Receivers"/>
                            <MessageReceivers @bind-ReceiverType="_model.ReceiverType"
                                              @bind-SelectReceivers="_selectReceivers"
                                              @bind-ImportReceivers="_importReceivers"
                                              @bind-ReceiverSelectType="_model.ReceiverSelectType"
                                              ChannelType="_messageInfo.Channel?.Type" 
                                              MessageTemplatesId="_model.EntityId"/>
                            <div class="mt-4 text-subtitle2">@T("DisplayName.MessageTaskSendingRule")</div>
                            <MInput @bind-Value="_model.SendRules" />
                            @if (_messageInfo.Channel != null && _messageInfo.Channel.Type == ChannelTypes.Sms)
                            {
                                <MRow Class="mt-4">
                                    <MCol>
                                        <MTextField @bind-Value="_model.Sign"
                                                Label="@T("DisplayName.MessageTemplateSign")"
                                                Dense
                                                Outlined
                                                HideDetails="@("auto")">
                                        </MTextField>
                                    </MCol>
                                </MRow>
                            }
                            <MessageSendingRules @bind-Value="_model.SendRules" />
                        </MCol>
                    </MRow>
                </div>
                <div Class="d-flex mt-6">
                    <MButton Class="mr-6" Text Color="error">@T("Delete")</MButton>
                    <MSpacer></MSpacer>
                    <MButton Rounded Outlined Color="indigo" Class="ml-6 medium-button px-6" OnClick="async() => await HandleOkAsync(true)">
                        <span>@T("Save")</span>
                    </MButton>
                    <MButton Color="primary" Class="small-button ml-6" OnClick="async() => await HandleOkAsync(false)">@T("SaveSend")</MButton>
                </div>
            </div>
        </MForm>
    </SheetDialog>
</div>