@inherits AdminCompontentBase
<div @ref="Ref">
    <SheetDialog Value="@_visible" ValueChanged="HandleVisibleChanged" Title="@T("Permission:SendTemplateMessage")" ContentStyle="padding-right:228px;padding-left:228px;">
        <MForm Class="mt-6 flex-height-auto overflow-y" Model="_model" @ref="_form" EnableValidation>
            <MRow>
                <MCol>
                    <MRow>
                        <MCol>
                            <MAutocomplete Items="_templateItems" @bind-Value="_model.EntityId"
                                           Label="@T("DisplayName:MessageTemplateTemplateId")"
                                           ItemText="@(x=>string.IsNullOrEmpty(x.TemplateId)?x.DisplayName:$"{x.DisplayName}({x.TemplateId})")"
                                           ItemValue="x=>x.Id"
                                           Dense
                                           Outlined
                                           HideDetails="@("auto")"
                                           TItem="MessageTemplateDto"
                                           TItemValue="Guid"
                                           TValue="Guid"
                                           OnSelectedItemUpdate="HandleTemplateSelectedAsync"></MAutocomplete>
                        </MCol>
                    </MRow>
                    @if (_model.EntityId != default)
                    {
                        <MRow>
                            <MCol>
                                <MSelect Value="@_messageInfo.Channel?.Type"
                                     Items="@(GetEnumList<ChannelType>())"
                                     Label="@T("DisplayName:ChannelType")"
                                     ItemText="item => T(item.ToString())"
                                     ItemValue="item => item"
                                     Dense
                                     Outlined
                                     Disabled
                                     HideDetails="@("auto")">
                                </MSelect>
                            </MCol>
                        </MRow>
                        <MRow>
                            <MCol>
                                <MSelect @bind-Value="_messageInfo.ChannelId"
                                     Items="@_channelItems"
                                     Label="@T("DisplayName:Channel")"
                                     ItemText="item => item.DisplayName"
                                     ItemValue="item => item.Id"
                                     Dense
                                     Outlined
                                     Disabled
                                     HideDetails="@("auto")">
                                </MSelect>
                            </MCol>
                        </MRow>
                        if (_messageInfo.Channel != null && _messageInfo.Channel.Type != ChannelType.Sms)
                        {
                            <MRow>
                                <MCol>
                                    <MTextField @bind-Value="_messageInfo.Title"
                                        Label="@T("DisplayName:MessageTemplateTitle")"
                                        Dense
                                        Outlined
                                        Disabled
                                        HideDetails="@("auto")">
                                    </MTextField>
                                </MCol>
                            </MRow>
                        }
                        <MRow>
                            <MCol>
                                <MEditor @bind-Value="_messageInfo.Content"
                                     ContentStyle="height:200px"
                                     Placeholder="@T("DisplayName:MessageTemplateContent")">
                                </MEditor>
                            </MCol>
                        </MRow>
                        if (_messageInfo.Channel != null && _messageInfo.Channel.Type == ChannelType.WebsiteMessage)
                        {
                            <MRow>
                                <MCol>
                                    <MTextField @bind-Value="_messageInfo.JumpUrl"
                                        Label="@T("DisplayName:MessageTemplateJumpUrl")"
                                        Dense
                                        Outlined
                                        Disabled
                                        HideDetails="@("auto")">
                                    </MTextField>
                                </MCol>
                            </MRow>
                        }
                        if (_messageInfo.Channel != null && _messageInfo.Channel.Type == ChannelType.Sms)
                        {
                            <MRow>
                                <MCol>
                                    <MTextField @bind-Value="_messageInfo.Sign"
                                        Label="@T("DisplayName:MessageTemplateSign")"
                                        Dense
                                        Outlined
                                        Disabled
                                        HideDetails="@("auto")">
                                    </MTextField>
                                </MCol>
                            </MRow>
                        }
                    }
                </MCol>
                <MCol>
                    <MessageReceivers />
                </MCol>
            </MRow>
        </MForm>
    </SheetDialog>
</div>