@inherits AdminCompontentBase
<div @ref="Ref">
    <McModal Value="@_visible" ValueChanged="HandleVisibleChanged" Title="@T("Permission.EditTemplateMessage")" Height="870">
        <ChildContent>
            <MForm Model="_model" EnableValidation @ref="_form" Class="full-height mt-n2">
                <MStepper Value="_model.Step" Elevation=0 Class="d-flex flex-column full-height">
                    <MStepperHeader Class="ma-n6" Style="box-shadow:none !important">
                        <MStepperStep Step="1" Complete="_model.Step>1">
                            @T("DisplayName.MessageInfoContent")
                        </MStepperStep>
                        <MDivider></MDivider>
                        <MStepperStep Step="2" Complete="_model.Step>2">
                            @T("DisplayName.MessageTaskReceiver")
                        </MStepperStep>
                        <MDivider></MDivider>
                        <MStepperStep Step="3">
                            @T("DisplayName.MessageTaskSendingRule")
                        </MStepperStep>
                    </MStepperHeader>
                    <MStepperItems Class="flex-grow-1">
                        <MStepperContent Class="full-height pa-0" Step="1">
                            <MRow Class="mt-6">
                                <MCol>
                                    <DefaultSelect @bind-Value="@_model.ChannelType"
                                                   Items="@(GetEnumList<ChannelTypes>())"
                                                   Label="@T("DisplayName.ChannelType")"
                                                   ItemText="item => T(item.ToString())"
                                                   ItemValue="item => item"
                                                   TItem="ChannelTypes"
                                                   TItemValue="ChannelTypes"
                                                   TValue="ChannelTypes?"
                                                   OnSelectedItemUpdate="HandleChannelTypeChangeAsync">
                                    </DefaultSelect>
                                </MCol>
                            </MRow>
                            <MRow Class="mt-6">
                                <MCol>
                                    <DefaultSelect @bind-Value="_model.ChannelId"
                                                   Items="@_channelItems"
                                                   Label="@T("DisplayName.Channel")"
                                                   ItemText="item => item.DisplayName"
                                                   ItemValue="item => item.Id"
                                                   TItem="ChannelDto"
                                                   TItemValue="Guid"
                                                   TValue="Guid?"
                                                   OnSelectedItemUpdate="HandleChannelChangeAsync">
                                    </DefaultSelect>
                                </MCol>
                            </MRow>
                            <MRow Class="mt-6">
                                <MCol>
                                    <MAutocomplete Items="_templateItems" @bind-Value="_model.EntityId"
                                                   Label="@T("TemplateTemplate")"
                                                   ItemText="@(x=>string.IsNullOrEmpty(x.TemplateId)?x.DisplayName:$"{x.DisplayName}({x.TemplateId})")"
                                                   ItemValue="x=>x.Id"
                                                   Outlined
                                                   HideDetails="@("auto")"
                                                   TItem="MessageTemplateDto"
                                                   TItemValue="Guid"
                                                   TValue="Guid"
                                                   OnSelectedItemUpdate="HandleTemplateSelected"></MAutocomplete>
                                </MCol>
                            </MRow>
                            @if (_model.EntityId != default)
                            {
                                if (_messageInfo.Channel != null && _messageInfo.Channel.Type != ChannelTypes.Sms)
                                {
                                    <MRow Class="mt-6">
                                        <MCol>
                                            <DefaultTextField @bind-Value="_messageInfo.Title"
                                                      Label="@T("DisplayName.MessageTemplateTitle")"
                                                      Disabled>
                                            </DefaultTextField>
                                        </MCol>
                                    </MRow>
                                }
                                <MRow Class="mt-6">
                                    <MCol>
                                        <DefaultRichText Value="@_messageInfo.Content" Label="@T("DisplayName.MessageTemplateContent")"></DefaultRichText>
                                    </MCol>
                                </MRow>
                                if (_messageInfo.Channel != null && _messageInfo.Channel.Type == ChannelTypes.WebsiteMessage)
                                {
                                    <MRow Class="mt-6">
                                        <MCol>
                                            <DefaultTextField @bind-Value="_messageInfo.JumpUrl"
                                                      Label="@T("DisplayName.MessageTemplateJumpUrl")" Disabled>
                                                <PrependContent>
                                                    <MCheckbox Class="mt-0" @bind-Value="_messageInfo.IsJump" Disabled></MCheckbox>
                                                </PrependContent>
                                            </DefaultTextField>
                                        </MCol>
                                    </MRow>
                                }
                                <MessageVariables Class="mt-9" @bind-Value="_model.Variables"></MessageVariables>
                            }
                        </MStepperContent>
                        <MStepperContent Class="full-height pa-0" Step="2">
                            @if (_model.ChannelType == ChannelTypes.WebsiteMessage && !_selectReceiverType)
                            {
                                <ReceiverTypeSelect @bind-value="_model.ReceiverType" OnClick="HandleReceiverType" />
                            }
                            else
                            {
                                <MInput @bind-Value="_model.Receivers" />
                                <MessageReceivers @bind-ReceiverType="_model.ReceiverType"
                                              @bind-SelectReceivers="_selectReceivers"
                                              @bind-ImportReceivers="_importReceivers"
                                              @bind-SelectReceiverType="_model.SelectReceiverType"
                                              ChannelType="_model.ChannelType"
                                              MessageTemplatesId="_model.EntityId" />
                            }
                        </MStepperContent>
                        <MStepperContent Class="full-height pa-0" Step="3">
                            <MInput @bind-Value="_model.SendRules" />
                            @if (_messageInfo.Channel != null && _messageInfo.Channel.Type == ChannelTypes.Sms)
                            {
                                <MRow Class="mt-6">
                                    <MCol>
                                        <DefaultTextField @bind-Value="_model.Sign"
                                                      Label="@T("DisplayName.MessageTemplateSign")">
                                        </DefaultTextField>
                                    </MCol>
                                </MRow>
                            }
                            <MessageSendingRules Class="mt-2" @bind-Value="_model.SendRules" />
                        </MStepperContent>
                    </MStepperItems>
                </MStepper>
            </MForm>
        </ChildContent>
        <ActionContent>
            @if (_model.Step == 1)
            {
                <MSpacer></MSpacer>
                <MButton Color="fill" Class="btn-form btn-fill-line rounded-3 emphasis2--text" OnClick="async() => await Throttle(HandleSaveAsync)">@T("Save")</MButton>
                <MButton Color="primary" Class="btn-form ml-6" OnClick="()=> HandleNextStep()">@T("NextStep")</MButton>
            }
            @if (_model.Step == 2)
            {
                if (_model.ChannelType == ChannelTypes.WebsiteMessage && !_selectReceiverType)
                {
                    <MIcon Size="24" Color="emphasis2" OnClick="HandleReceiverBack">mdi-keyboard-backspace</MIcon>
                    <MSpacer></MSpacer>
                }
                else
                {
                    <MIcon Size="24" Color="emphasis2" OnClick="HandleReceiverBack">mdi-keyboard-backspace</MIcon>
                    <MSpacer></MSpacer>
                    <MButton Color="fill" Class="btn-form btn-fill-line rounded-3 emphasis2--text" OnClick="async() => await Throttle(HandleSaveAsync)">@T("Save")</MButton>
                    <MButton Color="primary" Class="btn-form ml-6" OnClick="()=> HandleNextStep()">@T("NextStep")</MButton>
                }
            }
            @if (_model.Step == 3)
            {
                <MIcon Size="24" Color="emphasis2" OnClick="HandleSendingRuleBack">mdi-keyboard-backspace</MIcon>
                <MSpacer></MSpacer>
                <MButton Color="fill" Class="btn-form btn-fill-line rounded-3 emphasis2--text" OnClick="async() => await Throttle(HandleSaveAsync)">@T("Save")</MButton>
                <MButton Color="primary" Class="btn-form ml-6" OnClick="async() => await Throttle(HandleSendAsync)">@T("SaveSend")</MButton>
            }
        </ActionContent>

    </McModal>
</div>