@inherits AdminCompontentBase
<div class="template-message-info">
    <dl class="mt-8">
        <dt class="overline regular3--text">@T("DisplayName.ChannelType")</dt>
        <dd class="body2 emphasis2--text mt-1">@MessageTask.Channel.Type.ToString()</dd>
    </dl>
    <dl class="mt-8">
        <dt class="overline regular3--text">@T("DisplayName.Channel")</dt>
        <dd class="body2 emphasis2--text mt-1">@MessageTask.Channel.DisplayName</dd>
    </dl>
    <dl class="mt-8">
        <dt class="overline regular3--text">@T("Title")</dt>
        <dd class="body2 emphasis2--text mt-1">@(string.IsNullOrEmpty(MessageTemplate.Title)?MessageTemplate.DisplayName:MessageTemplate.Title)</dd>
    </dl>
    <dl class="mt-8">
        <dt class="overline regular3--text">@T("MessageContent")</dt>
        <dd class="body2 emphasis2--text mt-1"><RichText Value="@MessageTemplate.Content"></RichText></dd>
    </dl>
    @if (!IsRender && Variables.Any())
    {
        <div class="subtitle2 emphasis2--text mt-8">@T("DisplayName.VariableValueTransfer")</div>
        <MSimpleTable Class="btn-fill-line mt-8">
            <thead>
                <tr>
                    <th class="text-left body2 regular3--text">
                        @T("DisplayName.MessageTemplateItemCode")
                    </th>
                    <th class="text-left body2 regular3--text">
                        @T("DisplayName.MessageTemplateItemValue")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Variables)
                {
                    <tr @key="item.Key" class="body regular--text">
                        <td>@item.Key</td>
                        <td>@item.Value</td>
                    </tr>
                }
            </tbody>
        </MSimpleTable>
    }
    @if (MessageTask.Channel != null && MessageTask.Channel.Type == ChannelTypes.WebsiteMessage && MessageTemplate.IsJump)
    {
        <dl class="mt-8">
            <dt class="overline regular3--text">@T("DisplayName.MessageTemplateJumpUrl")</dt>
            <dd class="body2 emphasis2--text mt-1">@MessageTemplate.JumpUrl</dd>
        </dl>
    }
</div>