@inherits AdminCompontentBase
@page "/messageTemplates/emailTemplateManagement"

<PageTitle>@T("Email")</PageTitle>
<div style="height:40px">
    @if (advanced)
    {
        <div class="fold">
            <MRow>
                <MCol Md="3">
                    <DateRangePicker @bind-StartTime="_queryParam.StartTime" @bind-EndTime="_queryParam.EndTime" OnChange="RefreshAsync" />
                </MCol>
                <MCol Md="2">
                    <MSelect @bind-Value="@_queryParam.TemplateType"
                         Items="@(GetEnumList<SmsTemplateTypes>())"
                         Label="@T("DisplayName.MessageTemplateTemplateType")"
                         ItemText="@(item => T($"DisplayName.SmsTemplateType.{item.ToString()}"))"
                         ItemValue="item => (int)item"
                         Dense
                         Solo
                         Clearable
                         HideDetails="@("auto")"
                         TItem="SmsTemplateTypes"
                         TItemValue="int"
                         TValue="int"
                         Class="fill-card body2"
                         OnClearClick="RefreshAsync"
                         OnSelectedItemUpdate="RefreshAsync">
                    </MSelect>
                </MCol>
                <MCol Md="2">
                    <MSelect @bind-Value="_queryParam.ChannelId"
                         Items="@_channelItems"
                         Label="@T("DisplayName.Channel")"
                         ItemText="item => item.DisplayName"
                         ItemValue="item => item.Id"
                         Dense
                         Solo
                         Clearable
                         HideDetails="@("auto")"
                         TItem="ChannelDto"
                         TItemValue="Guid"
                         TValue="Guid?"
                         Class="fill-card body2"
                         OnClearClick="RefreshAsync"
                         OnSelectedItemUpdate="RefreshAsync">
                    </MSelect>
                </MCol>
            </MRow>
        </div>
    }
    <div class="d-flex @(!advanced?"full-width":"")" style="float: right;">
        <DefaultSearch @bind-Value="_queryParam.Filter" Clearable Class="rounded-2 search" Placeholder="@T("Search")" Dense OnEnter="RefreshAsync" OnClearClick="HandleClearAsync" />
        <div @onclick="ToggleAdvanced" class="ml-6 d-flex button fill">
            <MIcon Class="ma-auto" Color="emphasis2" Size=20>
                @(!advanced?"mdi-filter":"mdi-filter-off")
            </MIcon>
        </div>
        <MButton Color="primary" Class="ml-6 rounded-lg px-9 btn" OnClick="()=> _createModal.OpenModalAsync(ChannelTypes.Email)">
            <span>@T("Permission.Create")</span>
        </MButton>
    </div>
</div>
<MCard>
    <MDataTable Headers="Headers" Items="_entities.Result" TItem="MessageTemplateDto" ItemsPerPage="_queryParam.PageSize" HideDefaultFooter Class="mt-6">
        <HeaderColContent Context="header">
            <span class="text-btn">@header.Text</span>
        </HeaderColContent>
        <ItemColContent>
            @switch (context.Header.Value)
            {
                case ("ChannelDisplayName"):
                    <span class="body regular--text">@context.Item.Channel?.DisplayName</span>
                    break;
                case (nameof(MessageTemplateDto.Modifier)):
                    <span class="body2 regular--text">@TempCurrentUserConsts.NAME</span>
                    break;
                case (nameof(MessageTemplateDto.ModificationTime)):
                    <DateTimeListItem Value="@context.Item.ModificationTime"></DateTimeListItem>
                    break;
                case nameof(MessageTemplateDto.AuditStatus):
                    string color = string.Empty;
                    switch (context.Item.AuditStatus)
                    {
                        case MessageTemplateAuditStatuses.WaitAudit:
                            color = "orange";
                            break;
                        case MessageTemplateAuditStatuses.Adopt:
                            color = "sample-green";
                            break;
                        case MessageTemplateAuditStatuses.Fail:
                            color = "error";
                            break;
                        default:
                            break;
                    }
                    <MChip Color="@($"{color}-lighten-5")" TextColor="@color" Ripple="false">
                        <span class="body regular--text">@T($"DisplayName.MessageTemplateAuditStatus.{context.Item.AuditStatus.ToString()}")</span>
                    </MChip>
                    break;
                case nameof(MessageTemplateDto.Status):
                    <MChip Ripple="false">
                        <span class="body regular--text">@T($"DisplayName.MessageTemplateStatus.{context.Item.Status.ToString()}")</span>
                    </MChip>
                    break;
                case "Action":
                    <MIcon Small Color="emphasis2" OnClick="async()=>await _editModal.OpenModalAsync(context.Item)">mdi-pencil</MIcon>
                    break;
                default:
                    <span class="body regular--text">@context.Value</span>
                    break;
            }
        </ItemColContent>
        <FooterContent>
            <McPagination Class="mt-3 mx-6 pb-6" @bind-Page="_queryParam.Page" @bind-PageSize="_queryParam.PageSize" Total="_entities.Total" OnChange="HandlePaginationChange" />
        </FooterContent>
    </MDataTable>
</MCard>
<EmailTemplateCreateModal @ref="_createModal" OnOk="HandleOk" />
<EmailTemplateEditModal @ref="_editModal" OnOk="HandleOk" />

