@inherits AdminCompontentBase
@page "/messageTemplates/websiteMessageTemplateManagement"

<PageTitle>@T("WebsiteMessage")</PageTitle>
<AutoHeight>
    <HeaderContent>
        <div class="search-panel mb-6">
            <div class="d-flex">
                <DefaultTitle>@T("WebsiteMessageTitle")</DefaultTitle>
                <MSpacer></MSpacer>
                <SSearch @bind-Value="_queryParam.Filter" BackgroundColor="white" Dense OnEnter="RefreshAsync" OnClearClick="HandleClearAsync" />
                <div @onclick="ToggleAdvanced" class="ml-6 d-flex button fill">
                    <SIcon Class="ma-auto" Color="emphasis2" Size=20>
                        @(!_advanced ? "mdi-filter" : "mdi-filter-off")
                    </SIcon>
                </div>
                <SButton Small BorderRadiusClass="rounded-lg" Class="ml-6" OnClick="()=> _createModal.OpenModalAsync()">
                    <SIcon Size=18 IsDefaultToolTip=false>@IconConstants.Add</SIcon>
                    <span class="ml-2 btn">@T("Permission.Create")</span>
                </SButton>
            </div>
        </div>
        @if (_advanced)
        {
            <MRow Class="@($"mb-6 flex-none {(_isAnimate ? "animate__animated" : "")} {(!_advanced ? "animate__fadeOut" : "animate__fadeIn")}")" NoGutters>
                <SDateRangePicker StartTime="_startTime" EndTime="_endTime" DateRangeChanged="OnDateChanged" />
                <MCol Md="3">
                    <SSelect Small @bind-Value="_queryParam.ChannelId"
                         Items="@_channelItems"
                         Label="@T("DisplayName.Channel")"
                         ItemText="item => item.DisplayName"
                         ItemValue="item => item.Id"
                         BackgroundColor="white"
                         Clearable
                         HideDetails="@("auto")"
                         TItem="ChannelDto"
                         TItemValue="Guid"
                         TValue="Guid?"
                         Class="rounded-lg body2 ml-6"
                         OnClearClick="RefreshAsync"
                         OnSelectedItemUpdate="RefreshAsync">
                    </SSelect>
                </MCol>
            </MRow>
        }
    </HeaderContent>
    <AutoHeightContent>
        <MCard Class="page-content">
            <SDataTable Headers="GetHeaders()" Items="_entities.Result" TItem="MessageTemplateDto" ItemsPerPage="_queryParam.PageSize" HideDefaultFooter Class="d-flex full-height flex-column">
                <HeaderColContent Context="header">
                    <span class="text-btn">@header.Text</span>
                </HeaderColContent>
                <ItemColContent>
                    @switch (context.Header.Value)
                    {
                        case ("ChannelDisplayName"):
                            <DefaultGenericColumnRender Value="@context.Item.Channel?.DisplayName" Width="@context.Header.Width"></DefaultGenericColumnRender>
                            break;
                        case nameof(MessageTemplateDto.AuditStatus):
                            string color = string.Empty;
                            switch (context.Item.AuditStatus)
                            {
                                case MessageTemplateAuditStatuses.WaitAudit:
                                    color = "orange";
                                    break;
                                case MessageTemplateAuditStatuses.Adopt:
                                    color = "sample-green";
                                    break;
                                case MessageTemplateAuditStatuses.Fail:
                                    color = "error";
                                    break;
                                default:
                                    break;
                            }
                            <MChip Color="@($"{color}-lighten-5")" TextColor="@color" Ripple="false">
                                <span class="body regular--text">@T($"DisplayName.MessageTemplateAuditStatus.{context.Item.AuditStatus.ToString()}")</span>
                            </MChip>
                            break;
                        case nameof(MessageTemplateDto.Status):
                            <MChip Ripple="false">
                                <span class="body regular--text">@T($"DisplayName.MessageTemplateStatus.{context.Item.Status.ToString()}")</span>
                            </MChip>
                            break;
                        case "Action":
                            <DefaultIcon Small Color="emphasis2" Tooltip="@(T("Edit"))" OnClick="async()=>await _editModal.OpenModalAsync(context.Item)">mdi-pencil</DefaultIcon>
                            break;
                        default:
                            <DefaultGenericColumnRender Value="@context.Value" Width="@context.Header.Width"></DefaultGenericColumnRender>
                            break;
                    }
                </ItemColContent>
                <FooterContent>
                    <SPagination Class="mt-3 mx-6 pb-6" Page="@_queryParam.Page" PageSize="@_queryParam.PageSize" Total="_entities.Total" PageChanged="HandlePageChanged" PageSizeChanged="HandlePageSizeChanged" />
                </FooterContent>
            </SDataTable>
        </MCard>
    </AutoHeightContent>
</AutoHeight>

<WebsiteMessageTemplateCreateModal @ref="_createModal" OnOk="HandleOk" />
<WebsiteMessageTemplateEditModal @ref="_editModal" OnOk="HandleOk" />

