@inherits AdminCompontentBase
@page "/messageTemplates/websiteMessageTemplateManagement"

<PageTitle>@T("WebsiteMessage")</PageTitle>
<AutoHeight>
    <HeaderContent>
        <div class="search-panel">
            @if (advanced)
            {
                <div class="fold">
                    <MRow>
                        <MCol Md="3">
                            <Masa.Mc.Web.Admin.Components.Pickers.DateRangePicker @bind-StartTime="_queryParam.StartTime" @bind-EndTime="_queryParam.EndTime" OnChange="RefreshAsync" />
                        </MCol>
                        <MCol Md="2">
                            <SSelect Small @bind-Value="_queryParam.ChannelId"
                                 Items="@_channelItems"
                                 Label="@T("DisplayName.Channel")"
                                 ItemText="item => item.DisplayName"
                                 ItemValue="item => item.Id"
                                 Dense
                                 Solo
                                 Clearable
                                 HideDetails="@("auto")"
                                 TItem="ChannelDto"
                                 TItemValue="Guid"
                                 TValue="Guid?"
                                 Class="fill-card body2"
                                 OnClearClick="RefreshAsync"
                                 OnSelectedItemUpdate="RefreshAsync">
                            </SSelect>
                        </MCol>
                    </MRow>
                </div>
            }
            <div class="d-flex search-panel-right @(!isAnimate?"full-width":"") @(isAnimate?"animate__animated":"") @(!advanced?"animate__searchOpen":"animate__searchShrink")">
                <DefaultSearch @bind-Value="_queryParam.Filter" Clearable Class="rounded-2 search" Placeholder="@T("Search")" Dense OnEnter="RefreshAsync" OnClearClick="HandleClearAsync" />
                <div @onclick="ToggleAdvanced" class="ml-6 d-flex button fill">
                    <MIcon Class="ma-auto" Color="emphasis2" Size=20>
                        @(!advanced?"mdi-filter":"mdi-filter-off")
                    </MIcon>
                </div>
                <SButton Small Color="primary" BorderRadiusClass="rounded-lg" Class="ml-6" OnClick="()=> _createModal.OpenModalAsync()">@T("Permission.Create")</SButton>
            </div>
        </div>
    </HeaderContent>
    <AutoHeightContent>
        <MCard Class="page-content">
            <SDataTable Headers="Headers" Items="_entities.Result" TItem="MessageTemplateDto" ItemsPerPage="_queryParam.PageSize" HideDefaultFooter FixedRight Width="@("120%")" Class="mt-6 d-flex full-height flex-column">
                <HeaderColContent Context="header">
                    <span class="text-btn">@header.Text</span>
                </HeaderColContent>
                <ItemColContent>
                    @switch (context.Header.Value)
                    {
                        case ("ChannelDisplayName"):
                            <DefaultGenericColumnRender Value="@context.Item.Channel?.DisplayName" Width="@context.Header.Width"></DefaultGenericColumnRender>
                            break;
                        case nameof(MessageTemplateDto.AuditStatus):
                            string color = string.Empty;
                            switch (context.Item.AuditStatus)
                            {
                                case MessageTemplateAuditStatuses.WaitAudit:
                                    color = "orange";
                                    break;
                                case MessageTemplateAuditStatuses.Adopt:
                                    color = "sample-green";
                                    break;
                                case MessageTemplateAuditStatuses.Fail:
                                    color = "error";
                                    break;
                                default:
                                    break;
                            }
                            <MChip Color="@($"{color}-lighten-5")" TextColor="@color" Ripple="false">
                                <span class="body regular--text">@T($"DisplayName.MessageTemplateAuditStatus.{context.Item.AuditStatus.ToString()}")</span>
                            </MChip>
                            break;
                        case nameof(MessageTemplateDto.Status):
                            <MChip Ripple="false">
                                <span class="body regular--text">@T($"DisplayName.MessageTemplateStatus.{context.Item.Status.ToString()}")</span>
                            </MChip>
                            break;
                        case "Action":
                            <DefaultIcon Small Color="emphasis2" Tooltip="@(T("Edit"))" OnClick="async()=>await _editModal.OpenModalAsync(context.Item)">mdi-pencil</DefaultIcon>
                            break;
                        default:
                            <DefaultGenericColumnRender Value="@context.Value" Width="@context.Header.Width"></DefaultGenericColumnRender>
                            break;
                    }
                </ItemColContent>
                <FooterContent>
                    <SPagination Class="mt-3 mx-6 pb-6" Page="@_queryParam.Page" PageSize="@_queryParam.PageSize" Total="_entities.Total" PageChanged="HandlePageChanged" PageSizeChanged="HandlePageSizeChanged" />
                </FooterContent>
            </SDataTable>
        </MCard>
    </AutoHeightContent>
</AutoHeight>

<WebsiteMessageTemplateCreateModal @ref="_createModal" OnOk="HandleOk" />
<WebsiteMessageTemplateEditModal @ref="_editModal" OnOk="HandleOk" />

