@inherits AdminCompontentBase
@page "/messageTasks/sendMessage"

<PageTitle>@T("Permission.SendMessage")</PageTitle>
<div class="full-height flex-column">
    <MCard Class="flex-height-auto d-flex flex-column justify-center align-center">
        <MContainer Fluid>
            <MRow Align="AlignTypes.Center" Justify="JustifyTypes.Center">
                <MCol Cols="4">
                    <MHover>
                        <MCard @attributes="context.Attrs" Height="408" Width="408" Class="@($"d-flex flex-column justify-center align-center {context.Class} {(context.Hover ? "primary" : "fill-background")}")"
                               Elevation="@(context.Hover ? 12 : 2)"
                               OnClick="_ordinaryCreateModal.OpenModalAsync">
                            @if (context.Hover)
                            {
                                <MIcon Size=33 Color="#FFFFFF">mdi-email-outline</MIcon>
                                <div class="h6 pt-10" style="color:#FAFAFA">@T("DisplayName.MessageEntityType.Ordinary")</div>
                            }
                            else
                            {
                                <MIcon Size=33 Color="#323D6F">mdi-email</MIcon>
                                <div class="h6 pt-10 regular--text">@T("DisplayName.MessageEntityType.Ordinary")</div>
                            }
                        </MCard>
                    </MHover>
                </MCol>
                <MCol Cols="4">
                    <MHover>
                        <MCard @attributes="context.Attrs" Height="408" Width="408" Class="@($"d-flex flex-column justify-center align-center {context.Class} {(context.Hover ? "primary" : "fill-background")}")"
                               Elevation="@(context.Hover ? 12 : 2)"
                               OnClick="_templateCreateModal.OpenModalAsync">
                            @if (context.Hover)
                            {
                                <MIcon Size=33 Color="#FFFFFF">mdi-email-outline</MIcon>
                                <div class="h6 pt-10" style="color:#FAFAFA">@T("DisplayName.MessageEntityType.Template")</div>
                            }
                            else
                            {
                                <MIcon Size=33 Color="#323D6F">mdi-email</MIcon>
                                <div class="h6 pt-10 regular--text">@T("DisplayName.MessageEntityType.Template")</div>
                            }
                        </MCard>
                    </MHover>
                </MCol>
            </MRow>
        </MContainer>
    </MCard>

    <div class="mt-6 fill rounded-2 d-flex justify-center align-center px-6 py-3 mb-6" style="height:56px">
        <MButton Ripple=false Plain IsActive Class="emphasis2--text h6" OnClick="NavigateToList"><MIcon Left>mdi-animation</MIcon>@T("DisplayName.MessageTaskList")</MButton>
    </div>
</div>


<OrdinaryMessageCreateModal @ref="_ordinaryCreateModal" />
<TemplateMessageCreateModal @ref="_templateCreateModal" />
