@inherits AdminCompontentBase
@page "/receiverGroups/receiverGroupManagement"

<PageTitle>@T("Permission.ReceiverGroupManagement")</PageTitle>

<div class="search-panel d-flex">
    <DefaultSearch @bind-Value="_queryParam.Filter" Clearable Class="rounded-2 search" Placeholder="@T("Search")" Dense OnEnter="RefreshAsync" OnClearClick="HandleClearAsync" />
    <MButton Color="primary" Class="ml-6 rounded-lg btn small-btn" OnClick="()=> _createModal.OpenModalAsync()">
        <span>@T("Permission.Create")</span>
    </MButton>
</div>

<MCard>
    <DefaultDataTable Headers="Headers" Items="_entities.Result" TItem="ReceiverGroupDto" ItemsPerPage="_queryParam.PageSize" HideDefaultFooter Class="mt-6">
        <HeaderColContent Context="header">
            <span class="text-btn">@header.Text</span>
        </HeaderColContent>
        <ItemColContent>
            @switch (context.Header.Value)
            {
                case (nameof(ReceiverGroupDto.DisplayName)):
                    <span class="h8 emphasis--text">@context.Value</span>
                    break;
                case (nameof(ReceiverGroupDto.Description)):
                    <span class="body regular--text">@context.Value</span>
                    break;
                case (nameof(ReceiverGroupDto.ModificationTime)):
                    <DateTimeListItem Value="@context.Item.ModificationTime"></DateTimeListItem>
                    break;
                case (nameof(ReceiverGroupDto.Modifier)):
                    <span class="body2 regular--text"></span>
                    break;
                case "Action":
                    <MIcon Small Color="emphasis2" OnClick="async()=>await _editModal.OpenModalAsync(context.Item)">mdi-pencil</MIcon>
                    break;
                default:
                    <span class="body regular--text">@context.Value</span>
                    break;
            }
        </ItemColContent>
        <FooterContent>
            <Pagination Class="mt-3 mx-6 pb-6" Page="@_queryParam.Page" PageSize="@_queryParam.PageSize" Total="_entities.Total" PageChanged="HandlePageChanged" PageSizeChanged="HandlePageSizeChanged" />
        </FooterContent>
    </DefaultDataTable>
</MCard>

<ReceiverGroupEditModal @ref="_editModal" OnOk="HandleOk" />
<ReceiverGroupCreateModal @ref="_createModal" OnOk="HandleOk" />

