@inherits AdminCompontentBase
@page "/receiverGroups/receiverGroupManagement"

<PageTitle>@T("Permission.ReceiverGroupManagement")</PageTitle>
<AutoHeight>
    <HeaderContent>
        <div class="search-panel d-flex">
            <SSearch @bind-Value="_queryParam.Filter" BackgroundColor="#fff" MaxWidth="0" Dense OnEnter="RefreshAsync" OnClearClick="HandleClearAsync" />
            <SButton Small BorderRadiusClass="rounded-lg" Class="ml-6" OnClick="()=> _createModal.OpenModalAsync()">@T("Permission.Create")</SButton>
        </div>
    </HeaderContent>
    <AutoHeightContent>
        <MCard Class="page-content">
            <SDataTable Headers="Headers" Items="_entities.Result" TItem="ReceiverGroupDto" ItemsPerPage="_queryParam.PageSize" HideDefaultFooter Class="mt-6 d-flex full-height flex-column">
                <HeaderColContent Context="header">
                    <span class="text-btn">@header.Text</span>
                </HeaderColContent>
                <ItemColContent>
                    @switch (context.Header.Value)
                    {
                        case "Action":
                            <DefaultIcon Small Color="emphasis2" Tooltip="@(T("Edit"))" OnClick="async()=>await _editModal.OpenModalAsync(context.Item)">mdi-pencil</DefaultIcon>
                            break;
                        default:
                            <DefaultGenericColumnRender Value="@context.Value" Width="@context.Header.Width"></DefaultGenericColumnRender>
                            break;
                    }
                </ItemColContent>
                <FooterContent>
                    <SPagination Class="mt-3 mx-6 pb-6" Page="@_queryParam.Page" PageSize="@_queryParam.PageSize" Total="_entities.Total" PageChanged="HandlePageChanged" PageSizeChanged="HandlePageSizeChanged" />
                </FooterContent>
            </SDataTable>
        </MCard>
    </AutoHeightContent>
</AutoHeight>

<ReceiverGroupEditModal @ref="_editModal" OnOk="HandleOk" />
<ReceiverGroupCreateModal @ref="_createModal" OnOk="HandleOk" />

