@inherits AdminCompontentBase
<div @ref="Ref">
    <McModal Value="@_visible" ValueChanged="HandleVisibleChanged" Title="@T("Permission.EditReceiverGroup")" Height=900>
        <MForm Model="_model" @ref="_form" EnableValidation Class="full-height">
            <div class="full-height flex-column">
                <div class="flex-height-auto flex-grow-1">
                    <MRow Class="mt-6">
                        <MCol>
                            <DefaultTextField @bind-Value="_model.DisplayName"
                                              Label="@T("DisplayName.ReceiverGroupDisplayName")">
                            </DefaultTextField>
                        </MCol>
                    </MRow>
                    <ReceiverSelect @ref="_ReceiverSelect" @bind-Value="_model.Items"></ReceiverSelect>
                    <MRow Class="mt-6">
                        <MCol>
                            <MTextarea @bind-Value="_model.Description"
                                       Label="@T("DisplayName.ReceiverGroupDescription")"
                                       Outlined
                                       HideDetails="@("auto")">
                            </MTextarea>
                        </MCol>
                    </MRow>
                </div>
                <div Class="d-flex mt-6">
                    <MIcon Size="24" Color="error" OnClick="HandleDel">mdi-delete</MIcon>
                    <MSpacer></MSpacer>
                    <MButton Color="primary" Class="btn-form" OnClick="async() => await HandleOk(context)">@T("Save")</MButton>
                </div>
            </div>
        </MForm>
    </McModal>
</div>
