@inherits AdminCompontentBase
<div @ref="Ref">
    <McModal Value="@_visible" ValueChanged="HandleVisibleChanged" Title="@T("Permission.EditReceiverGroup")" ContentStyle="height: 728px;">
        <ChildContent>
            <MForm Model="_model" EnableValidation @ref="_form" Class="full-height">
                <MRow>
                    <MCol Class="pt-0 mt-2">
                        <DefaultTextField @bind-Value="_model.DisplayName"
                                          Label="@T("DisplayName.ReceiverGroupDisplayName")">
                        </DefaultTextField>
                    </MCol>
                </MRow>
                <ReceiverSelect @ref="_ReceiverSelect" @bind-Value="_model.Items"></ReceiverSelect>
                <MInput @bind-Value="_model.Items" />
                <MRow Class="mt-6">
                    <MCol>
                        <MTextarea @bind-Value="_model.Description"
                                   Label="@T("DisplayName.ReceiverGroupDescription")"
                                   Outlined
                                   HideDetails="@("auto")">
                        </MTextarea>
                    </MCol>
                </MRow>
            </MForm>
        </ChildContent>
        <ActionContent>
            <MIcon Size="24" Color="error" Class="align-self-center" OnClick="HandleDel">mdi-delete</MIcon>
            <MSpacer></MSpacer>
            <MButton Color="primary" Class="btn-form" OnClick="async() => await Throttle(HandleOk)">@T("Save")</MButton>
        </ActionContent>
    </McModal>
</div>
