@inherits AdminCompontentBase
<div @ref="Ref">
    <SheetDialog Value="@_visible" ValueChanged="HandleVisibleChanged" Title="@T("Permission.CreateReceiverGroup")">
        <MForm Model="_model" EnableValidation>
            <div class="sheet-dialog full-height flex-column">
                <div class="mt-6 flex-height-auto overflow-y">
                    <MRow Justify="@("center")">
                        <MCol Cols="12" Sm="6" Md="3">
                            <MTextField Class="mx-auto" style="width:200px;" @bind-Value="_model.DisplayName" HideDetails="@("auto")" Placeholder="@T("DisplayName.ReceiverGroupDisplayName")"></MTextField>
                        </MCol>
                    </MRow>
                    <ExternalUserCreateModal @bind-Value="_model.Items"></ExternalUserCreateModal>
                    <MRow Class="mt-1">
                        <MCol Cols="12">
                            <MTextarea @bind-Value="_model.Description"
                                       Label="@T("DisplayName.ReceiverGroupDescription")"
                                       Dense
                                       Outlined
                                       HideDetails="@("auto")">
                            </MTextarea>
                        </MCol>
                    </MRow>
                </div>
                <div Class="d-flex mt-6">
                    <MSpacer></MSpacer>
                    <MButton Color="rounded-pill primary" Class="small-button" OnClick="async() => await HandleOk(context)">@T("Save")</MButton>
                </div>
            </div>
        </MForm>
    </SheetDialog>
</div>
