@inherits AdminCompontentBase
<div @ref="Ref">
    <SheetDialog Value="@_visible" ValueChanged="HandleVisibleChanged" Title="@T("Permission.ViewMessageTask")">
        <div class="full-height d-flex">
            <div class="pa-12 record-detail-left">
                @if (string.IsNullOrEmpty(_messageRecord.ExtraProperties.GetProperty<string>("Avatar")))
                {
                    <EmptyAvatar Size=48 Value="@(_messageRecord.ExtraProperties.GetProperty<string>("DisplayName"))" />
                }
                else
                {
                    <MAvatar Size=48>
                        <MImage Src="@(_messageRecord.ExtraProperties.GetProperty<string>("Avatar"))"></MImage>
                    </MAvatar>
                }
                <div class="h8 emphasis--text mt-2">@(_messageRecord.ExtraProperties.GetProperty<string>("DisplayName"))</div>
                <div class="body2 regular--text mt-2">@(_messageRecord.ExtraProperties.GetProperty<string>("Email"))</div>
                <div class="body2 regular--text mt-1">@(_messageRecord.ExtraProperties.GetProperty<string>("PhoneNumber"))</div>
                <div class="subtitle3 regular--text mt-9">@T("DisplayName.MessageTaskSendTime")</div>
                <MTimeline Dense=false Class="mt-9" Style="margin-left: -66px;">
                    <MTimelineItem Small FillDot Right>
                        <OppositeContent>
                            <span class="caption regular2--text mr-n5">@T("DisplayName.MessageRecordExpectSendTime")</span>
                        </OppositeContent>
                        <ChildContent>
                            <div class="ml-n5">
                                <div class="caption regular--text">@(_messageTask.SendRules.SendTime?.ToString(T("$DateFormat"))??_messageTask.SendTime?.ToString(T("$DateFormat")))</div>
                                <div class="overline regular3--text">@(_messageTask.SendRules.SendTime?.ToString(T("$TimeFormat"))??_messageTask.SendTime?.ToString(T("$TimeFormat")))</div>
                            </div>
                        </ChildContent>
                    </MTimelineItem>
                    <MTimelineItem Small FillDot Right>
                        <OppositeContent>
                            <span class="caption regular2--text mr-n5">@T("DisplayName.MessageRecordSendTime")</span>
                        </OppositeContent>
                        <ChildContent>
                            <div class="ml-n5">
                                <div class="caption regular--text">@_messageRecord.SendTime?.ToString(T("$DateFormat"))</div>
                                <div class="overline regular3--text">@_messageRecord.SendTime?.ToString(T("$TimeFormat"))</div>
                            </div>
                        </ChildContent>
                    </MTimelineItem>
                </MTimeline>
                <div class="subtitle3 regular--text mt-9">@T("DisplayName.MessageRecordResult")</div>
                <div class="mt-9">
                    <dl class="d-flex justify-space-between item align-center mb-6">
                        <dt class="d-inline-flex body2 regular--text">
                            @if (_messageRecord.Success == true)
                            {
                                <span>@T("DisplayName.MessageRecordSuccess.True")</span>
                            }
                            @if (_messageRecord.Success == false)
                            {
                                <span>@T("DisplayName.MessageRecordSuccess.False")</span>
                            }
                        </dt>
                        @if (_messageRecord.Success == false)
                        {
                            <a href="javascript:;" class="body2 primary--text text-decoration-none" @onclick="HandleRetry">@T("Retry")</a>
                        }
                    </dl>
                    @if (_messageRecord.Success == false)
                    {
                        <dl class="d-flex justify-space-between item align-center mb-6">
                            <dt class="d-inline-flex body2 regular--text">
                                <span>@_messageRecord.FailureReason</span>
                            </dt>
                            <dd class="body2 regular3--text">@T("DisplayName.MessageRecordFailureReason")</dd>
                        </dl>
                    }
                    <dl class="d-flex justify-space-between item align-center">
                        <dt class="d-inline-flex body2 regular--text">
                            <span>@_messageTaskHistory.TaskHistoryNo</span>
                        </dt>
                        <dd class="body2 regular3--text">@T("DisplayName.MessageTaskHistoryNo")</dd>
                    </dl>
                </div>
            </div>
            <MDivider Vertical></MDivider>
            <div class="record-detail-right full-height flex-column">
                <div class="subtitle2 emphasis2--text">@T("DisplayName.MessageInfoContent")</div>
                @if (_messageTask.EntityType == MessageEntityTypes.Ordinary)
                {
                    <OrdinaryMessageInfo MessageInfoId="_messageTask.EntityId" MessageTask="_messageTask"></OrdinaryMessageInfo>
                }
                @if (_messageTask.EntityType == MessageEntityTypes.Template)
                {
                    <TemplateMessageInfo MessageTemplateId="_messageTask.EntityId" MessageTask="_messageTask" Variables="_messageRecord.Variables" IsRender></TemplateMessageInfo>
                }
            </div>

        </div>
    </SheetDialog>
</div>