@inherits AdminCompontentBase
@switch (Value)
{
    case MessageTaskStatuses.WaitSend:
        <SIcon Class="regular3--text caption" Left Size=12>mdi-clock-outline</SIcon>
        <span class="regular3--text caption">@T("DisplayName.MessageTaskStatus.WaitSend")</span>
        break;
    case MessageTaskStatuses.Sending:
        <SIcon Class="regular3--text caption" Left Size=12>mdi-dots-horizontal-circle-outline</SIcon>
        <span class="regular3--text caption">@T("DisplayName.MessageTaskStatus.Sending")</span>
        break;
    case MessageTaskStatuses.Cancel:
        <SIcon Class="regular3--text caption" Left Size=12>mdi-dots-horizontal-circle-outline</SIcon>
        <span class="regular3--text caption">@T("DisplayName.MessageTaskStatus.Cancel")</span>
        break;
    case MessageTaskStatuses.Success:
        <SIcon Class="regular3--text caption" Left Size=12>mdi-checkbox-marked-circle-outline</SIcon>
        <span class="regular3--text caption">@T("DisplayName.MessageTaskStatus.Success")</span>
        break;
    case MessageTaskStatuses.Fail:
        <SIcon Class="regular3--text caption" Left Size=12>mdi-close-circle-outline</SIcon>
        <span class="regular3--text caption">@T("DisplayName.MessageTaskStatus.Fail")</span>
        break;
    case MessageTaskStatuses.PartialFailure:
        <SIcon Class="regular3--text caption" Left Size=12>mdi-minus-circle-outline</SIcon>
        <span class="regular3--text caption">@T("DisplayName.MessageTaskStatus.PartialFailure")</span>
        break;
}

@code {
    [Parameter]
    public MessageTaskStatuses Value { get; set; }
}