@inherits AdminCompontentBase

<SAutoComplete Small 
               TValue="Guid"
               TItem="MessageTaskReceiverDto"
               TItemValue="Guid"
               OnSearchInputUpdate=OnSearchChanged
               Items="Items"
               Color="primary"
               Label="@T("Search")"
               ItemText="u=>TextView(u)"
               ItemValue="u=>u.SubjectId"
               Flat
               Dense
               Solo
               BackgroundColor="fill-background"
               HideDetails="@("auto")"
               Class="@($"{Class} rounded-2")"
               HideSelected
               OnSelectedItemUpdate="HandleOnSelectedItemUpdate">
    <PrependInnerContent>
        <SIcon Size=16 Class="mr-2 default-lighten-1--text">mdi-magnify</SIcon>
    </PrependInnerContent>
    <ItemContent Context="data">
        <MListItem Class="pa-4 pl-0">
            <ItemContent>
                <MListItemAvatar Size=40 Class="ma-0" Color="primary">
                    @if (data.Item.Type != MessageTaskReceiverTypes.User)
                    {
                        <SIcon Size=24 Color="fill">mdi-animation</SIcon>
                    }
                    else
                    {
                        @if (string.IsNullOrEmpty(data.Item.Avatar))
                        {
                            <SEmptyAvatar Value="@(data.Item.DisplayName)" />
                        }
                        else
                        {
                            <MImage Src="@data.Item.Avatar"></MImage>
                        }
                    }
                </MListItemAvatar>
                <MListItemContent Class="ml-2 pa-0">
                    <MListItemTitle>
                        <span class="btn emphasis2--text">@(data.Item.DisplayName)</span>
                        <div class="d-inline-flex mx-2" style="height: 8px">
                            <MDivider Vertical />
                        </div>
                        <span class="overline regular2--text">@T($"DisplayName.MessageTaskReceiverTypes.{data.Item.Type}")</span>
                    </MListItemTitle>
                    @if (data.Item.Type == MessageTaskReceiverTypes.User)
                    {
                        <MListItemSubtitle>
                            <span class="body2 regular2--text">@(data.Item.PhoneNumber)</span>
                            <div class="d-inline-flex mx-1" style="height: 8px">
                                <MDivider Vertical />
                            </div>
                            <span class="body2 regular2--text">@(data.Item.Email)</span>
                        </MListItemSubtitle>
                    }
                </MListItemContent>
            </ItemContent>
        </MListItem>
    </ItemContent>
</SAutoComplete>