@inherits AdminCompontentBase
<div class="mc-modal">
    <MDialog Value="Value"
             ValueChanged="ValueChanged"
             ContentClass="@($"rounded-5 {Class}")"
             MaxWidth="@MaxWidth"
             Persistent
             Scrollable
             Transition="dialog-transition"
             Width="@Width">
        <ChildContent>
            <MCard Height="@Height" Style="padding:36px 42px;">
                <MCardTitle Class="h6 emphasis--text pa-0">
                    <MIcon Size=16 Color="primary" Class="pr-2">
                        mdi-circle
                    </MIcon>
                    <span>@Title</span>
                    <MSpacer></MSpacer>
                    <MButton Fab
                             Small
                             Outlined
                             Color="emphasis"
                             Style="border-color: #E2E7F4;width:32px;height:32px"
                             OnClick="HandleOnCancel">
                        <MIcon Size=24>
                            mdi-close
                        </MIcon>
                    </MButton>
                </MCardTitle>

                <MCardText Class="pa-0 overflow-visible">
                    @ChildContent
                </MCardText>
            </MCard>
        </ChildContent>
    </MDialog>
</div>

@code {
    [Parameter]
    public bool Value { get; set; }

    [Parameter]
    public EventCallback<bool> ValueChanged { get; set; }

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public StringNumber Width { get; set; } = 770;

    [Parameter]
    public StringNumber MaxWidth { get; set; }

    [Parameter]
    public StringNumber Height { get; set; }

    [Parameter]
    public EventCallback<ModalActionEventArgs> OnCancel { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected virtual async Task HandleOnCancel()
    {
        if (OnCancel.HasDelegate)
        {
            await OnCancel.InvokeAsync();
        }
        else
        {
            await InternalValueChanged(false);
        }
    }

    private async Task InternalValueChanged(bool value)
    {
        Value = value;

        if (ValueChanged.HasDelegate)
        {
            await ValueChanged.InvokeAsync(value);
        }
    }
}
